<div class="header-co">
    <div class="left" [routerLink]="'/'">
     KYRGYZSTAN REPUBLIC OPEN DATA PORTAL
    </div>
    <div class="right">
      <div class="user">
        <div class="name">
          {{ (user$ | async)?.name}} {{(user$ | async)?.surname }}
        </div>
          <div class="image" >
            <img src="{{apiUrl$ | async}}/api/get/file/{{(user$ | async)?.photoFileId}}"  onerror="this.src= './assets/img/default-avatar.png '">
            </div>
      </div>

      <button class="hamburger hamburger~slider linksButton"  [matMenuTriggerFor]="menu" type="button" (click)="showMenu = !showMenu">
        <span class="hamburger-box">
          <span  class="hamburger-inner"></span>
        </span>
      </button>

      <mat-menu #menu="matMenu" class="header-menu">
        <button mat-menu-item [routerLink]="['/']"  >Go To Dashboard</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>

    </div>
  </div>
