:host {
  display: block;
  margin-left: auto;
  height: 100vh;
  width: 64px;
  border-radius: 5px;
  margin-right: var(--kg-admin-padding);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  position: relative;
  .nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: var(--kg-admin-padding);
    width: 100%;
    height: 9.06rem;
    padding: 0 0.94rem;
    margin-bottom: var(--kg-admin-padding);
    border-radius: 0.31rem;
    box-shadow: 0.06rem 0.25rem 1.13rem rgba(0, 0, 0, 0.05);
    .profile-img {
      padding-top: 1.25rem;
      cursor: pointer;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
        margin: 0 auto;
        border-radius: 50%;
        border: solid 0.25rem #ffffff;
        width: 2.19rem;
        height: 2.19rem;
        font-size: 1.06rem;
      }
    }

    .notifications {
      margin-top: auto;
      padding-bottom: 1.75rem;
      cursor: pointer;
    }
  }

  .app-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 4rem;
    padding-bottom: 0.31rem;
    width: 100%;
    border-radius: 0.31rem;
    box-shadow: 0.06rem 0.25rem 1.13rem rgba(0, 0, 0, 0.05);
    .link {
      cursor: pointer;
      border-radius: 50%;
      transition: background 200ms ease-in-out;

      .icon {
        transform: rotateY(-180deg);
        width: 1.44rem;
        height: 1.25rem;
      }

      &:hover {
        background: white;
        opacity: 0.5;
      }
    }
  }
}
