<div class="side-nav">
 <div class="nav-top">
    <div class="profile-img" (click)="userClicked.next()">
      <div class="icon">
        <img src="./assets/icons/admin-avatar.svg">
      </div>
    </div>
    <div class="notifications">
      <img src="./assets/icons/ring-bells.svg" alt="">
    </div>
 </div>

  <div class="app-links">
    <!-- <div class="link" *ngFor="let app of apps">
        <div class="icon">
         <img src="/assets/icons/{{app.imgUrl}}.svg">
        </div>
    </div> -->
  </div>
  </div>
