:host {
  display: block;
  margin-left: auto;
  height: 100vh;
  width: 64px;
  border-radius: 5px;
  margin-right: 16px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  position: relative;
  .nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 16px;
    width: 100%;
    height: 145px;
    padding: 0 15px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.05);
    .profile-img {
      padding-top: 20px;
      cursor: pointer;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
        margin: 0 auto;
        border-radius: 50%;
        border: solid 4px #ffffff;
        width: 35px;
        height: 35px;
        font-size: 17px;
      }
    }

    .notifications {
      margin-top: auto;
      padding-bottom: 28px;
      cursor: pointer;
    }
  }

  .app-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 64px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.05);
    .link {
      cursor: pointer;
      border-radius: 50%;
      transition: background 200ms ease-in-out;

      .icon {
        transform: rotateY(-180deg);
        width: 23px;
        height: 20px;
      }

      &:hover {
        background: white;
        opacity: 0.5;
      }
    }
  }
}
