<div class="co-wrapper" >
  <div class="co-header">
      <div class="module-name">
          {{ getName(type) | translate | titlecase}}
        </div>
        <div class="news-filters">
            <news-filters (formSubmit)="onNewsFilter($event)" [type]="type"></news-filters>
        </div>
  </div>

    <div class="news-pagination">
        <div class="news-pagination__index" *ngFor="let p; let i = index of rangeArray" (click)="onPageChange(p)">{{buidRange(p)}}</div>
      </div>


  <div class="swiper-co">
    <div  class="swiper-container" [swiper]="config" style="width: 100%" #swiper >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let news of newsList;let i=index;let first=first" [ngClass]="{'wide': i=== 0 }" >
                <news-item [news]="news" [index]="i" routerLink="/home/news/{{news.id}}" [queryParams]= "{type: type}" ></news-item>
        </div>

      </div>
      <div class="en-pagination"  *ngIf="newsList.length > 0">
        <button class="arrow left" (click)="slidePrev()">
          <img src="./assets/icons/news-left.svg">
        </button>
        <button class="arrow right" (click)="slideNext()" tabindex="-1">
          <img src="./assets/icons/news-right.svg">

      </button>
      </div>
    </div>

  </div>

</div>

