:host {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #4e8ec8, #47a8c5);
  height: calc(100vh - var(--kg-header-height));
  width: 100vw;;
  padding-left: 13%;
}
.co-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 100%;
  .swiper-co {
    width: 100%;
    height: 466px;
  }
  .swiper-container {
    width: 100%;
    padding-top: 32px;
  }

  .swiper-slide {
   // width: 260px!important;
    &.wide {
    // /  width: 480px!important;
    }
  }
 .co-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
  .module-name {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    padding-bottom: 16px;
  }
  .news-filters {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
  }

 }
 .news-pagination {
  display: flex;
  color: #ffffff;
  .news-pagination__index {
    margin-right: 25px;
    cursor: pointer;
  }
}

  .en-pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 2em;

    .arrow {
      display: flex;
      justify-content: center;
      width: 70px;
      height: 70px;
      background: #1F93CF;
      transition: box-shadow 300ms ease-in-out;
      margin-left: 10px;
      padding: 15px;
      cursor: pointer;
      img {
        pointer-events: none;
      }
      &:active:focus{
       // box-shadow: 1px 0px 22px 1px rgba(0, 0, 0, 0.2);
       }

      &.left {
        background: transparent;
        transform: rotate(180deg);
      }

      &.right {
        transform: rotate(-180deg);
      }
    }
  }
}

@media all and  (max-height: 768px) {
   .en-pagination {
     padding-top: 1%;
   }
}
