<div class="structure-info">
  <div class="cover-photo">
    <img src= "http://www.myiconfinder.com/uploads/iconsets/256-256-dccff8f3cba105b192b55c860f46491f-building.png">
  </div>
  <div class="name">
  Open Data Kg
  </div>
</div>
<div class="modules-list">
  <a class="module"  >
    <div class="icon">
    <fa-icon [icon]="faAccusoft"></fa-icon>
    </div>
    <p  class="link">Applications </p>
  </a>
  <a class="module" [routerLink]="['modules']" routerLinkActive="active" >
    <div class="icon">
    <fa-icon [icon]="faAccusoft"></fa-icon>
    </div>
    <p  class="link">Modules </p>
  </a>
  <a class="module" >
    <div class="icon">
    <fa-icon [icon]="faAccusoft"></fa-icon>
    </div>
    <p  class="link">Operations </p>
  </a>

  <a class="module" >
    <div class="icon">
    <fa-icon [icon]="faAccusoft"></fa-icon>
    </div>
    <p  class="link">Dictionaries </p>
  </a>

</div>
