:host {
  display: flex;
  flex-direction: column;
  width: var(--kg-admin-left-aside-width);
  height: 100vh;
  padding: var(--kg-admin-padding);
  height: calc(100vh);
}

.structure-info {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ece9fa;
  padding: 1.06rem 2.37rem;
  margin-bottom: var(--kg-admin-padding);
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0.06rem 0.25rem 1.125rem rgba(0, 0, 0, 0.05);

  .cover-photo {
    width: 180px;
    height: 110px;
    img {
      width: 100%;
    }
  }
  .name {
    font-size: 1.25rem;
    padding-top: 0.75rem;
  }
}
.modules-content-wrapper  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  overflow: auto;
  background: #ffffff;
  border-radius: 0.31rem;
  box-shadow: 0.06rem 0.25rem 1.1rem rgba(0, 0, 0, 0.05);
  .modules-list {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0rem;
    overflow: auto;
    .module {
      flex: 1 0 36px;
      display: flex;
      padding: 0.5625rem 0;
      transition: color 300ms ease-in-out;
      padding-left: 1.5rem;
      .icon {
        flex: 0 0 20px;
        cursor: pointer;
      }
      .link {
        padding-left: 2rem;
        text-decoration: none;
        line-height: 1.5rem;
        font-size: 0.875rem;
      }
      &:hover {
       // background: #f2f2f2;
       color: var(--color-primary);
      }
      &.active {
        color: var(--color-primary);
      }
    }

  }

  .app-copyrights{
    display: flex;
    background: #4D95C8;
    width: 100%;
    padding: 1.25rem 1.625rem;
    border-bottom-left-radius: 0.31em;
    border-bottom-right-radius: 0.31em;
    .app-logo {
      width: 65px;
      padding-right: 10px;
    }
    .app-name {
      display: flex;
      flex-direction: column;
      .primary-name {
        line-height: 11px;
        font-size: 10px;
        color: #FFFFFF;
      }
      .secondary-name {
        font-weight: bold;
        line-height: 11px;
        font-size: 10px;
        color: #FFFFFF;
      }
    }
  }
}
