:host {
  display: block;
  width: 256px;
  height: 100vh;
  padding: 1rem;
  height: calc(100vh);
}

.structure-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ece9fa;
  padding: 1.06rem 2.37rem;
  margin-bottom: 1rem;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0.06rem 0.25rem 1.125rem rgba(0, 0, 0, 0.05);

  .cover-photo {
    width: 180px;
    height: 110px;
    img {
      width: 100%;
    }
  }
  .name {
    font-size: 1.25rem;
    padding-top: 0.75rem;
  }
}
.modules-list {
  padding: 1.25rem 0rem;
  background: #ffffff;
  border-radius: 0.31rem;
  box-shadow: 0.06rem 0.25rem 1.1rem rgba(0, 0, 0, 0.05);

  .module {
    display: flex;
    padding: 0.5625rem 0;
    transition: color 300ms ease-in-out;
    padding-left: 1.5rem;
    font-weight: bold;
    .icon {
      flex: 0 0 20px;
      cursor: pointer;
    }
    .link {
      padding-left: 2rem;
      text-decoration: none;
      font-weight: 600;
      line-height: 1.5rem;
      font-size: 0.875rem;
    }
    &:hover {
     // background: #f2f2f2;
     color: var(--color-primary);
    }
    &.active {
      color: var(--color-primary);
    }
  }
}
@media all and (min-width: 1199px) {
  :host {
    width: 300px;
  }
}
