<div class="structure-info">
  <div class="cover-photo">
    <img src= "http://www.myiconfinder.com/uploads/iconsets/256-256-dccff8f3cba105b192b55c860f46491f-building.png">
  </div>
  <div class="name">
  Open Data Kg
  </div>
</div>
<div class="modules-list">
    <a class="module" *ngFor = "let module of (modules)" routerLink= "{{module.url}}" routerLinkActive="active" >
        <div class="icon">
        <fa-icon [icon]="faAccusoft"></fa-icon>
        </div>
        <p  class="link">{{module.name.en | titlecase}} </p>
      </a>
</div>
