:host {
  display: block;
  background: #ffffff;
  width: 100%;
  font-size: 16px;
  height: 100vh;
      overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 59px);
 // background: rgba(255, 255, 255, 0.07);
}

.structure-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ece9fa;
  padding: 1em;
  .cover-photo {
    width: 11em;
    height: 185px;
    img {
      width: 100%;
      margin-top: 0.6em;
    }
  }
  .name {
    font-size: 20px;
  }
}
.modules-list {
  padding-top: 1.2em;
  .module {
    display: flex;
    padding: 0.6em;
    transition: background 300ms ease-in-out;
    .icon {
      padding-left: 1.2em;
      cursor: pointer;
    }
    .link{
      padding-left: 0.3em;
      text-decoration: none;
    }
    &:hover {
      background: #f2f2f2;
    }
    &.active {
      background: #f2f2f2;
    }
  }
}
