:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding: 2em;
  // animation: checked-anim 2.0s ease both;
  // background: rgba(0, 0, 0, 0.6);
  // backdrop-filter: blur(20px);
  // border-radius: 100px;
  // padding: 2em;

}
.ng-overlay {
  display: block;
  position: fixed;
  animation: checked-anim 2.0s ease both;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
@keyframes checked-anim {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    border-radius: 0;
  }

  50% {
    width: 3000px;
    height: 3000px;
}
  100% {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
      width: 3000px;
      height: 3000px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
.item {
  &.animated {
    animation-duration: 300ms;
  }
}
.item:nth-child(1) {
  &.animated {
   animation-delay: 100ms;
  }
}
.item:nth-child(2) {
  &.animated {
   animation-delay: 100ms;
  }
}
.item:nth-child(3) {
  &.animated {
    animation-delay:200ms;
  }
}
.item:nth-child(4) {
  &.animated {
  animation-delay:300ms;
  }
}
.item:nth-child(5) {
  &.animated {
   animation-delay:400ms;
  }
}
.item:nth-child(6) {
  &.animated {
   animation-delay:500ms;
  }
}
.item:nth-child(7) {
  &.animated {
   animation-delay:600ms;
  }
}

.close-menu {
  display: flex;
  align-self: flex-end;
  width: 20px;
  cursor: pointer;
  z-index: 1;
}
.items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
 // animation: checked-anim 4s ease both;
 // height: 100%;
  .item {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    margin-bottom: 4%;
    cursor: pointer;
    align-items: flex-end;
    .icon {
      width: 25px;
     margin-right: 17px;
     }
     .name {
       font-size: 16px;
       color: #FFFFFF;
     }
  }
}
