
    <div class="ng-overlay" #overlay></div>
    <div class="close-menu" (click)="onClose(overlay)">
        <img src="./assets/icons/nav-close.svg">
    </div>
     <div class="items-wrapper">
        <div  class="items" *ngIf="ready">

            <div class="item animated fadeIn" (click)="onNavigate('news')">
              <div class="icon">
                <img src="./assets/icons/nav-news.svg">
              </div>
              <div class="name">{{'~news' | translate}}</div>
            </div>

            <div class="item animated fadeIn " (click)="onNavigate('announcements')" >
              <div class="icon">
                <img src="./assets/icons/nav-annoucement.svg">
              </div>
              <div class="name">{{'~announcements' | translate}}</div>
            </div>

            <div class="item animated  fadeIn" (click)="onNavigate('blogs')" routerLinkActive="router-link-active" >
                <div class="icon">
                  <img src="./assets/icons/nav-blog.svg">
                </div>
                <div class="name">{{'~blogs' | translate}}</div>
              </div>

              <div class="item animated fadeIn"   *ngIf="(isAdmin$ | async)" >
                  <div class="icon">
                    <img src="./assets/icons/nav-dashboard.svg">
                  </div>
                  <div class="name" (click)="onNavigate('/admin')">{{'~goToDashboard' | translate}}</div>
                </div>

            <div class="item animated fadeIn " >
              <div class="icon">
                <img src="./assets/icons/nav-lang.svg">
              </div>
              <div class="name">English</div>
            </div>
            <div class="item animated fadeIn " (click)="onLogout()">
              <div class="icon">
                <img src="./assets/icons/nav-logout.svg">
              </div>
              <div class="name" *ngIf="isLoggedIn$ | async">{{'~logout' | translate}}</div>
              <div class="name" *ngIf="!(isLoggedIn$ | async)">{{'~login' | translate}}</div>
            </div>
          </div>
     </div>

