:host {
  display: block;

}
.item {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  .item-img {
    width: 75px;
    height: 75px;
    border-radius: 7px;
    margin: 5px;
    margin-right: 10px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .item-body {
    display: flex;
    flex-direction: column;
    width: 200px;
    .item-title {
      font-weight: bold;
      font-size: 15px;
      color: #666666;
      padding-bottom: 10px;
      height: 25px;
      overflow: hidden;
    }
    .item-content {
      font-size: 10px;
      color: #666666;
      padding-bottom: 15px;
      height: 43px;
      overflow: hidden;
    }
    .item-footer {
      font-size: 8px;
      color: #666666;
    }
  }
}
