:host {
  display: block;
  width: 100%;
 min-height: calc(100vh - var(--kg-mouse-scroll-icon-height) - var(--kg-global-nav-height) - var(--kg-footer-height));
  position: relative;
  padding-top: 1.875rem;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5625rem;
  border-radius: 0.3125rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  height: 13.125rem;
  .name  {
    padding-top: 1rem;
    font-weight: 600;
    line-height: 1.0625rem;
    font-size: 1rem;
    text-align: center;
    color: #505050;
    width: 9.375rem;
  }
  .icon {
    max-width: 3.6875rem;
   /deep/ svg {
      width: 2.1875rem;
      height: 2.1875rem;
    }
  }
  &:hover {
    box-shadow: 0.3125rem 0.9375rem 1.375rem rgba(0, 0, 0, 0.1);
    .icon {
      /deep/ .replaced-svg {
        transition: all 500ms ease-in-out;
        fill: #FFA800!important;
      }
    }
  }
}
