:host {
  display: block;
  height: 70px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.header-co {
  padding-left: 4em;
  padding-top: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: space-between;
  .left {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .right {
   .auth-nav {
    font-size: 20px;
    font-family: Open-Sans;
    color: white;
    margin-left: 20px;
    cursor: pointer;
   }
  }
}
