<div class="header-co" [ngClass]="{'blur': popupState$ | async}">
  <div class="left" [routerLink]="'/'">
    <img src="./assets/icons/opendata_final.svg">
  </div>

  <div class="right" >
      <a class="auth-nav" [routerLink]="['/login']" *ngIf="!(isLoggedIn$ | async)">{{'~login' | translate | uppercase}}</a>

    <div class="user" *ngIf="(isLoggedIn$ | async)">
      <div class="name">
        <p> {{ (user$ | async)?.name}} {{(user$ | async)?.surname }} </p>
      </div>
        <div class="image" [routerLink]="['/home/user-profile']"  >
            <img *ngIf="!(user$ | async).photoFileId" src="./assets/img/default-avatar.png">
            <img *ngIf="(user$ | async).photoFileId" src="{{apiUrl$ | async}}/api/get/file/{{(user$ | async)?.photoFileId}}"
             onerror="this.src= './assets/img/default-avatar.png '">
          </div>
    </div>
 <!-- <div class="menu-wrapper" (click)="showMenu = true">
  <mat-icon >menu</mat-icon>
 </div> -->

</div>

<button class="hamburger hamburger--emphatic js-hamburger linksButton" type="button" style="z-index: 10000; position: relative;"
[ngClass]="{'is-active': showMenu}"
(click)="togglePopup()"
>
    <span class="hamburger-box">
      <span  class="hamburger-inner"></span>
    </span>
  </button>

</div>

<header-popup *ngIf="showMenu" (close)="onClose()"></header-popup>
<!-- <header-popup-new *ngIf="showMenu" (close)="onClose()" ></header-popup-new> -->
