<div class="header-co">
  <div class="left" [routerLink]="'/'">
    <img src="./assets/icons/opendata_final.svg">
  </div>
  <div class="right" *ngIf="!(isLoggedIn$ | async)">
    <a class="auth-nav" [routerLink]="['/login']" >LOGIN</a>
  </div>
  <div class="right" *ngIf="(isLoggedIn$ | async)">
    <div class="user">
      <div class="name">
        John O-Shee
      </div>
        <div class="image">
            <img src= "https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png">
          </div>
    </div>
  </div>
</div>
