:host {
  display: block;
  height: 4.375rem;
  width: 100%;
  // position: relative;
  top:0;
  z-index: 5;
  transition: height 300ms ease-in-out;
  background-image: linear-gradient(to right, #4e8ec8, #47a8c5);
}


.header-co {
 padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    width: 5.375rem;
    height: 1.875rem;
    cursor: pointer;
    z-index: 2;
  }

  .right {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    .auth-nav {
      font-size: 1rem;
      color: white;
      margin-left: 1.25rem;
     line-height: 0;
      cursor: pointer;
    }
    .user {
      display: flex;
      align-items: center;
      .name {
       p {
        font-size: 0.875rem;
        text-align: center;
        color: #FFFFFF;
        padding-right: 1.1875rem;
        text-align: right;
       }
      }
      .image {
        width: 2.25rem;
        height: 2.25rem;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
         border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
.hamburger {
  display: flex!important;
  padding: 0.9375rem;
}
.hamburger-box {
  height: 1.1875rem!important;
}
.hamburger-inner {
  background-color: #FFFFFF!important;
  width: 1.5625rem;
  height: 0.0625rem;
  &::after, &::before {
    background-color: #FFFFFF!important;
    width: 1.5625rem;
    height: 0.0625rem;
  }
}
.hamburger {
  padding-right: 0!important;
}
.hamburger--slider .hamburger-inner:before {
  top: 0.4375rem;
  width: 1.1875rem;
  right: 0;
}
.hamburger--slider .hamburger-inner:after {
  top: 0.875rem;
}
