<div class="header-co">
  <div class="left" [routerLink]="'/'">
    <img src="./assets/icons/opendata_final.svg">
  </div>

  <div class="right" >
      <a class="auth-nav" [routerLink]="['/login']" *ngIf="!(isLoggedIn$ | async)">{{'~login' | translate | uppercase}}</a>

    <div class="user" *ngIf="(isLoggedIn$ | async)">
      <div class="name">
        <p> {{ (user$ | async)?.name}} {{(user$ | async)?.surname }} </p>
      </div>
        <div class="image" [routerLink]="['/user-profile']"  >
            <img *ngIf="!(user$ | async).photoFileId" src="./assets/img/default-avatar.png">
            <img *ngIf="(user$ | async).photoFileId" src="{{apiUrl$ | async}}/api/get/file/{{(user$ | async)?.photoFileId}}"
             onerror="this.src= './assets/img/default-avatar.png '">
          </div>
    </div>
    <button class="hamburger hamburger~slider linksButton" type="button"
    [ngStyle]="{'visibility': showMenu ? 'hidden' : 'visible'}" (click)="showMenu = true"
    >
        <span class="hamburger-box">
          <span  class="hamburger-inner"></span>
        </span>
      </button>
  </div>
</div>

<header-popup *ngIf="showMenu" (close)="showMenu = false"></header-popup>
