<!-- <div class="ngx-dropdown-wrapper" style="width: 5rem; font-size: 12px;" >
<ngx-simple-dropdown (closed)="onMenuClose()" (opened)="onMenuOpen()" >
  <div  dropdownToggle style="text-align: center">
    <div class="ngx-native-table-editor-menu">
      <span class="burger-dot"> </span>
      <span class="burger-dot"> </span>
      <span class="burger-dot"> </span>
      <span class="burger-dot"> </span>
    </div>
  </div>
  <ul *dropdownMenu class="ngx-dropdown-menu" [@onEnter] = "true">
    <ng-content> </ng-content>
  </ul>
</ngx-simple-dropdown>
</div> -->

<ng-content></ng-content>
