<div class="auth-co">
  <div class="brand-logo" [routerLink]="['/']"  >
    <div class="primary-name">
      {{'~primaryName' | translate}}
    </div>
    <div class="secondary-name">
        {{'~secondaryName' | translate}}
    </div>
  </div>

  <div class="auth-box">
     <div class="form-header"> {{'~login' | translate}}</div>
     <form #f="ngForm" class="auth-form" (ngSubmit)="onSubmit(f)" >

      <input name="username" class="auth-form__field" ngModel type="email" placeholder="Email">

      <input name="password" class="auth-form__field" ngModel type="password" placeholder="Password">

       <button  class="auth-form__submit" type="submit" > {{'~login' | translate}}</button>
     </form>
     <div class="toRegister">
         <a [routerLink]="'/register'" >  {{'~register' | translate}}</a>
     </div>
  </div>
</div>
<wave-particles [AMOUNTX]="35" [AMOUNTY]="35"></wave-particles>