<div class="auth-co">
  <div class="brand-logo" [routerLink]="['/']"  >
    <div class="primary-name">
      {{'BRAND.primaryName' | translate}}
    </div>
    <div class="secondary-name">
        {{'BRAND.secondaryName' | translate}}
    </div>
  </div>

  <div class="auth-box">
     <div class="form-header">Login</div>
     <form #f="ngForm" class="login-form" (ngSubmit)="onSubmit(f)">
       <input placeholder="{{'AUTH.userName' | translate}}" name="username" ngModel class="input">
       <input placeholder="{{'AUTH.password' | translate}}" name="password" type="password" ngModel class="input">
       <button class="kg-btn login" type="submit">Login</button>
     </form>
     <div class="toRegister">
        for <a [routerLink]="'/register'" >Register</a>
     </div>
  </div>
</div>
