<form #f="ngForm" patch-form [form]="f" [data]="data?.row" class="nt-form" >

  <mat-vertical-stepper [linear]="true" #stepper [selectedIndex]="selectedIndex" >
    <mat-step [stepControl]="f">
          <ng-template matStepLabel>{{'~orgMainData' | translate}}</ng-template>

          <div class="main-info">
            <div class="left">
                <div class="upload-item-img">

                    <ng-container *ngIf="!imgId">
                      <img src="https://dumielauxepices.net/sites/default/files/dome-clipart-town-council-building-509085-7407455.svg" (click)="onUpload()">
                    </ng-container>

                    <ng-container *ngIf="imgId">
                      <img src="http://192.168.1.23:8080/DispatcherRest/api/get/file/{{imgId}}" (click)="onUpload()" onerror="this.src = './assets/icons/avatar.svg'">
                    </ng-container>
                    <div class="img-corners">
                      <div class="arrow"></div>
                      <div class="arrow-2"></div>
                    </div>
                    <div class="upload-div animated slideInUp">
                      <p>{{'~uploadImage' | translate}}</p>
                    </div>

                  </div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~name' | translate}} (Kg)" class="nt-form-input" name="nameKg" ngModel required>
                <mat-error>{{getErrors('nameKg')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~name' | translate}} (En)" class="nt-form-input" name="nameEn" ngModel required>
                <mat-error>{{getErrors('nameEn')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~name' | translate}} (Ru)" class="nt-form-input" name="nameRu" ngModel required>
                <mat-error>{{getErrors('nameRu')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~code' | translate}}" class="nt-form-input" name="code" ngModel required>
                <mat-error>{{getErrors('code')}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="{{'~orgType' | translate}}" class="nt-form-input" name="typeId" ngModel required>
                  <mat-option *ngFor="let item of (orgTypes$ | async)" [value]="item.value">
                    {{item.label}}
                  </mat-option>
                </mat-select>
                <mat-error>{{getErrors('typeId')}}</mat-error>
              </mat-form-field>

            </div>
            <div class="right">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~shortName' | translate}} (Kg)" class="nt-form-input" name="shortNameKg" ngModel required>
                <mat-error>{{getErrors('shortNameKg')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~shortName' | translate}} (En)" class="nt-form-input" name="shortNameEn" ngModel required>
                <mat-error>{{getErrors('shortNameEn')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~shortName' | translate}} (Ru)" class="nt-form-input" name="shortNameRu" ngModel required>
                <mat-error>{{getErrors('shortNameRu')}} </mat-error>
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~about' | translate}} (Kg)" class="nt-form-input" name="aboutKg" ngModel>
                <mat-error>{{getErrors('aboutKg')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~about' | translate}} (En)" class="nt-form-input" name="aboutEn" ngModel>
                <mat-error>{{getErrors('aboutEn')}} </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'~about' | translate}} (Ru)" class="nt-form-input" name="aboutRu" ngModel>
                <mat-error>{{getErrors('aboutRu')}} </mat-error>
              </mat-form-field>

              <input [hidden]="true" name="id" ngModel>
            </div>
            <input [hidden]="true" name="logoFileId" value="imgId" [(ngModel)]="imgId" >
          </div>
        <div>
          <button mat-raised-button color="primary"  type="submit"  insertTableData [form]="f"
          *ngIf="!(f?.value.id)"
          [table]="data?.table"
          (onClose)="onClose($event)"
          >{{'~add' | translate}}</button>
        </div>
    </mat-step>

    <mat-step  [stepControl]="f" >
      <ng-template matStepLabel>{{'~addressData' | translate}}</ng-template>
      <ng-container *ngIf="f?.value?.id">
        <div class="title">
          <div class="add-icon" (click)="tableAddress.addData()">
            <fa-icon [icon]="faPlusCircle"></fa-icon>
          </div>
         </div>

      <div style="width: 100%;height: 200px;" >
        <ngx-native-table #tableAddress
        [config]="configAddress"
        [editTemplate]="editerAddress"
        [pagination]="false"
        [rowSelection]="false"
        (actionClick)="onOptClickAddress($event, tableAddress)"
        >
        </ngx-native-table>
       </div>

      <div>
          <button mat-raised-button matStepperPrevious>{{'~back' | translate}}</button>
          <button mat-raised-button matStepperNext>{{'~next' | translate}}</button>
        </div>
      </ng-container>
  </mat-step>

    <mat-step  [stepControl]="f">
        <ng-template matStepLabel>{{'~contactData' | translate}}</ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>phone</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" >
         <fa-icon [icon]="faPhone"></fa-icon>
         <mat-icon>phone</mat-icon>
        </ng-template>

        <ng-container  *ngIf="f?.value?.id">
          <div class="title" >
            <div class="add-icon" (click)="tableContact.addData()">
              <fa-icon [icon]="faPlusCircle"></fa-icon>
            </div>
           </div>

        <div style="width: 100%;height: 200px;" >
            <ngx-native-table #tableContact
            [config]="configContact"
            [editTemplate]="editerContact"
            [pagination]="false"
            [rowSelection]="false"
            (actionClick)="onOptClickAddress($event, tableContact)"
          ></ngx-native-table>
         </div>

        <div>
            <button mat-raised-button matStepperPrevious>{{'~back' | translate}}</button>
          </div>
        </ng-container>
    </mat-step>
  </mat-vertical-stepper>

  <input [hidden]="true" name="id" ngModel>
  <div class="actions">
    <button mat-raised-button color="accent"  type="submit" updateTableData [form]="f"
    *ngIf="f?.value.id"
    [disabled]="f?.dirty && !f?.valid"
    (onClose)="dialogRef.close()"
    [table]="data?.table"
    >{{'~update' | translate}}</button>
    <button mat-raised-button (click)="dialogRef.close()" type="reset">{{'~cancel' | translate}}l</button>
  </div>

</form>
