:host {
  display: block;
  position: fixed;
  transition: all 500ms ease-in-out;
  width: 100vw;
  z-index: 1;
  left: 0;
}

:host(.bottom) {
  display: block;
  bottom: 0;
  transform: translate3d(0, -15px, 0);
}
:host(.top) {
  display: block;
  top: 0;
  transform: translate3d(0, 2em, 0);
}
.modules {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;

  .module {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }
}
