:host {
  display: block;
}



.modules {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;

  .module {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }
}
