<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="global-modules">

          <a class="global-module" *ngFor="let mod of modules;let i = index" (click)="onNavigate(mod.link)">
            <div class="icon">
              <img [src]="mod?.icon_url">
            </div>
            <div class="text" translate>{{mod?.name}}</div>
            <div class="outline"  [ngStyle]="{'width': state === mod.link ? '100%' : '0'}" ></div>
          </a>
        </div>
    </div>
  </div>
</div>
