:host {
  display: flex;
  align-items: center;
  background: var(--kg-box-background);;
  padding: 30px;
  //padding: 32px 40px;
  margin-top: 5px;
  border-radius: 10px;
  margin-top: 22px;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

:host:hover {
  .overlay {
     opacity: 0.5;
  }
 .right {
  .box-perspective {
    .rotating-box{
      transform: rotateY(30deg);
      }
      .text {
        visibility: visible!important;
      }
  }
 }
}
.overlay {
  filter: blur(20px) grayscale(20%);
  position: absolute;
  width: 80%;
  height:40px;
  left: 0;
  right: 0;
  opacity: 0;
  background: black;
  z-index: -1;
  bottom: 9px;
  margin: 0 auto;
  transition: all 300ms ease-in-out;
}
.left {
  display: flex;
  flex-direction: column;
  .item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
  }
  .item-content {
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .item-rating {
    display: flex;
    align-items: center;
    padding-top: 10px;
    .title {
      font-weight: 300;
      font-size: 12px;
      color: #666666;
      padding-right: 5px;
    }
   .star-content {
     display: flex;
    .star {
      width: 14px;
      margin-left: 2px;
    }
   }
    .count {
      display: flex;
      align-items: flex-end;
      margin-left: 33px;
      .icon {
        width: 12px;
        margin-right: 7px;
      }
      .text {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
      }
    }
  }
  .item-formats {
    display: flex;
    padding-top: 22px;
    .icon {
      margin-right: 8px;
      padding: 7px 10px;
       width: 68px;
       border-radius: 15px;
       text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
       &.ZIP{
        background: #73CB49;
       }
       &.JSON {
        background: #7E7E7E;
       }
       &.CVS {
        background: #73CB49;
       }
       &.XML {
          background: #4ABBDF;
       }

    }
  }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  &:hover {
    .text {
      visibility: visible;
    }
  }


}
