:host {
  display: flex;
  align-items: center;
  background: var(--kg-box-background);;
  margin-top: 0.3125rem;
  border-radius: 0.625rem;
  margin-top: 1.375rem;
  position: relative;
  cursor: pointer;
}
:host:after {
  content: "";
  filter: blur(1.25rem) grayscale(20%);
  position: absolute;
  width: 80%;
  height:2.5rem;
  left: 0;
  right: 0;
  opacity: 0;
  background: black;
  z-index: 1;
  transition: opacity 500ms ease-in-out;
  bottom: -0.4375rem;
  margin: 0 auto;
}
:host:hover:after {
  opacity: 0.5;
}
.wrapper-div {
  z-index: 2;
  padding: 1.375rem 1.875rem;
  background: #ffffff;
  border-radius: 0.625rem;
}
:host:hover {
  // .overlay {
  //   transition: opacity 500ms ease-in-out;
  //    opacity: 0.5;
  // }
 .right {
  .box-perspective {
    .rotating-box{
      transform: rotateY(30deg);
      }
      .text {
        visibility: visible!important;
      }
  }
 }
}
.overlay {
  filter: blur(1.25rem) grayscale(20%);
  position: absolute;
  width: 80%;
  height:2.5rem;
  left: 0;
  right: 0;
  opacity: 0;
  background: black;
  z-index: 1;
  transition: opacity 500ms ease-in-out;
  bottom: -0.4375rem;
  margin: 0 auto;
}
.left {
  display: flex;
  flex-direction: column;
  .item-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
  }
  .item-content {
    font-size: 0.875rem;
    color: #333333;
    padding-top: 0.625rem;
  }
  .item-rating {
    display: flex;
    align-items: center;
    padding-top: 0.625rem;
    .title {
      font-weight: 300;
      font-size: 0.75rem;
      color: #666666;
      padding-right: 0.3125rem;
    }
   .star-content {
     display: flex;
    .star {
      width: 0.875rem;
      margin-left: 0.125rem;
    }
   }
    .count {
      display: flex;
      align-items: flex-end;
      margin-left: 2.0625rem;
      .icon {
        width: 0.75rem;
        margin-right: 0.4375rem;
      }
      .text {
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 1rem;
        color: #666666;
      }
    }
  }
  .item-formats {
    display: flex;
    padding-top: 0.75rem;
    .icon {
      margin-right: 0.5rem;
      padding: 0.4375rem 0.625rem;
      width: 4.25rem;
      border-radius: 0.9375rem;
       text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      background: #7E7E7E;
      cursor: pointer;
       &.ZIP{
        background: #73CB49;
       }
       &.JSON {
        background: #34ace0;
       }
       &.CSV {
        background: #487eb0;
       }
       &.XML {
          background: #7f8c8d;
       }
       &.XLS, &.XLSX {
         background: #16a085;
       }
       &.DOC, &.DOCX {
         background: #2980b9;
       }
       &.PPT, &.PPTX {
         background: #e67e22;
       }
       &.HTML {
         background: #1abc9c;
       }

    }
  }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  &:hover {
    .text {
      visibility: visible;
    }
  }
  .open-box {
    display: flex;
  }
  .remove-box {
    display: flex;
    .rotating-box {
      background: #E85F5F;
      .icon {
        width: 0.625rem;
      }

    }
    .text {
     p {
      color: #E85F5F;
     }
    }
  }
}

