:host {
  display: block;
  margin-bottom: 0.3125rem;
}
.item {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.625rem;
  padding: 0.625rem 0.625rem;
  height: 98px;
  cursor: pointer;
  .item__img {
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 0.4375rem;
    margin: 0.3125rem;
    margin-right: 0.625rem;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .item__content{
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    .item__content__title {
      font-weight: bold;
      font-size: 0.9375rem;
      color: #666666;
      padding-bottom: 0.625rem;
    }
    .item__content__text {
      font-size: 0.875rem;
      color: #666666;
      padding-bottom: 0.9375rem;
      height: 2.6rem;
      overflow: hidden;
    }
    .item__content__footer {
      font-size: 0.5rem;
      color: #666666;
    }
  }
}
