<perfect-scrollbar id="main_content">

    <div class="auth-co">
        <div class="brand-logo" [routerLink]="['/']"  >
          <div class="brand-logo__icon">
              <img src="./assets/icons/opendata-full.svg">
          </div>
        </div>

        <div class="auth-box">
           <div class="form-header">{{'~register' | translate}}</div>
           <form #f="ngForm" class="nt-form" (ngSubmit)="onSubmit(f)" >

            <div class="inputs">
              <div class="left">

                  <div class="auth-form__field">
                      <input name="userName" ngModel readonly onfocus="this.removeAttribute('readonly');"   placeholder="{{'~userName' | translate}}"  required>
                      <div class="invalid-feedback" >
                           {{getErrors('userName')}}
                      </div>
                  </div>

                  <div class="auth-form__field">
                      <input name="name" ngModel readonly onfocus="this.removeAttribute('readonly');"   placeholder="{{'~firstName' | translate}}" required>
                      <div class="invalid-feedback" >
                           {{getErrors('name')}}
                      </div>
                  </div>

                  <div class="auth-form__field">
                      <input name="surname" ngModel readonly onfocus="this.removeAttribute('readonly');"   placeholder="{{'~lastName' | translate}}"required>
                      <div class="invalid-feedback" >
                        {{getErrors('surname')}}
                   </div>
                  </div>

                  <div class="auth-form__field">
                      <input name="mName" ngModel readonly onfocus="this.removeAttribute('readonly');"   placeholder="{{'~middleName' | translate}}" >
                      <div class="invalid-feedback" >
                        {{getErrors('mName')}}
                   </div>
                  </div>

              </div>

              <div class="right">

                <div class="auth-form__field">
                    <select  name="genderId" ngModel readonly onfocus="this.removeAttribute('readonly');" required>
                        <option value="" disabled selected>{{'~gender' | translate}}</option>
                        <option *ngFor="let item of (genders$ | async)" [value]="item.value"> {{item.label}} </option>
                    </select>
                    <div class="invalid-feedback" >
                        {{getErrors('genderId')}}
                   </div>
                </div>


                <div class="auth-form__field">
                    <input  [matDatepicker]="picker" placeholder="{{'~birthdate' | translate}}" name="birthdate" ngModel readonly onfocus="this.removeAttribute('readonly');" required
                    [max]="maxDate">
                    <div class="icon">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="color: #ffffff"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="startDate" startView="year"></mat-datepicker>
                    </div>
                    <div class="invalid-feedback" >
                        {{getErrors('birthdate')}}
                   </div>
                </div>


                  <div class="auth-form__field">
                      <input name="password"  ngModel readonly onfocus="this.removeAttribute('readonly');"  type="password" placeholder="{{'~password' | translate}}" required >
                  </div>

                  <div class="auth-form__field">
                      <input name="confPsasswd"  type="password" placeholder="{{'~confirmPassword' | translate}}" required >
                  </div>


                <input [hidden]="true" name="photoFileId" value="imgId" [(ngModel)]="imgId" readonly onfocus="this.removeAttribute('readonly');">
                <input [hidden]="true" name="id" ngModel readonly onfocus="this.removeAttribute('readonly');">
                <input [hidden]="true" name="personId" ngModel readonly onfocus="this.removeAttribute('readonly');">
              </div>
            </div>

              <button class="auth-form__submit"  type="submit"
               > {{'~register' | translate}} </button>

          </form>

           <div class="toRegister">
            <a [routerLink]="'/login'">{{'~login' | translate}}</a>
           </div>
        </div>
      </div>



</perfect-scrollbar>

<wave-particles [AMOUNTX]="25" [AMOUNTY]="25"></wave-particles>
