:host {
  display: block;
  width: 100vw;
  height: calc(100vh);
  background: var(--kg-background-image);
  position: relative;
}

#main_content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 2;
}
.auth-co {
  width: 100vw;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .brand-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    .brand-logo__icon {
      width: 27.75rem;
    }
  }
.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  background: rgba(255, 255, 255, 0.2);
  padding: 48px;
  border-radius: 9px;
  margin-top: 50px;
  .form-header {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      color: #ffffff;
      margin-bottom: 15px;
  }
  .nt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputs {
    }

    .auth-form__field {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      input {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        text-align: center;
        padding: 5px 20px;
        color: #ffffff;
        &::placeholder {
          color: #ffffff;
        }
      }
      select {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px 20px;
        color: #ffffff;
        text-align-last: center;
        border: 0;
        border-radius: 3px;
        option {
          color: lightgray;
        }
      }
      .icon {
        position: absolute;
        right: 0;
        top: -5px;
      }
    }

    .auth-form__submit{
      background: #ffffff;
      color: #4AA2C6;
      padding: 5px 20px;
      width: 100%;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
    }
  }

    .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   // padding: 10px;

    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    //  padding: 10px;
    }
  }

  .toRegister {
    margin-top: 20px;
    color: #ffffff;
    a {
      text-decoration: underline!important;
      cursor: pointer;
      color: inherit;
    }
  }
}
