<div id="landing-page-wrapper">
  <desktop id="desktop"></desktop>


    <div class="global-navbar" id="global-nav"  >
      <a  href="javascript:void(0)" (click)="toggleGlobalNav('#global-nav')" class="mouse-scroll-wrapper">
        <mouse-scroll-icon ></mouse-scroll-icon></a>
        <global-nav (navChanged)="onNavChange($event)"  class="bottom" ></global-nav>
       <div class="content  content-wrapper"
        >
         <div class="overview-box">
            <category-overview *ngIf="state ==='category'" class="animated fadeIn"></category-overview>
            <organization-overview *ngIf="state ==='organization'" class="animated fadeIn"></organization-overview>
            <latest-datasets *ngIf="state ==='latest'" class="animated fadeIn"></latest-datasets>
            <popular-datasets *ngIf="state ==='popular'" class="animated fadeIn"></popular-datasets>
         </div>
          <app-footer></app-footer>
       </div>
      </div>


</div>
