:host {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--kg-right-aside-width) - var(--kg-admin-padding) * 2);
  height: 100%;
  box-shadow: 0.06rem 0.25rem 1.1rem rgba(0, 0, 0, 0.05);
}
