:host {
  display: block;
  width: 100%;
  margin-top: 0.625rem;
}

.co-add-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .co-add-msg-icon {
  flex: 0 0 2.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  margin-right: 1.4375rem;
  background: #4C9EC7;
  padding: 0.75rem;
  border-radius: 10px;
  img {
    width: 1.125rem;
    height: 1.125rem;
  }
  }
  .co-add-content {
   width: calc(100% - 68px);
   .co-add-textarea {
     outline: 0;
     width: 100%;
     border-radius: 0.625rem;
     border: #ffffff;
     padding: 0.9375rem 1.25rem;
     padding-bottom: 0;
   }
  }
}
.co-add-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.625rem;
  button {
  font-size: 1rem;
  height: 3rem;
  }
}
