:host {
  display: block;
  width: 100%;
  margin-top: 0.625rem;
}

.comment__add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .comment__add__content {
   width: calc(100% - 120px);
   .co-add-textarea {
     outline: 0;
     width: 100%;
     border-radius: 0.625rem;
     border: 1px solid #dcdcdc;
     padding: 0.9375rem 1.25rem;
     padding-bottom: 0;
   }
  }
}
.comment__add__button{
  display: flex;
  justify-content: flex-end;
  margin-top: 0.625rem;
  button {
  font-size: 1rem;
  }
}
