<form #f="ngForm" >
  <div class="comment__add">
    <div class="comment__add__content">
      <textarea placeholder="{{'~writeComment' | translate}}" class="co-add-textarea" name="comment" required ngModel></textarea>


    </div>
    <div class="comment__add__button">
      <button mat-raised-button color="primary"  type="submit" forLoggedIn (clicked)="onSubmit(f)" [disabled]="loading"
      >{{'~send' | translate}}</button>
    </div>
 </div>
 <input hidden name="kvKey" [(ngModel)]="id">

</form>
