<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="co-add-top">
    <div class="co-add-msg-icon">
      <img src="./assets/icons/msg-icon.svg">
    </div>
    <div class="co-add-content">
      <textarea placeholder="Write feedback here" class="co-add-textarea" name="comment" required ngModel></textarea>
    </div>
 </div>
 <input hidden name="datasetId" [(ngModel)]="datasetId">
 <div class="co-add-bottom">
   <button mat-raised-button color="primary"  type="submit"
   >SEND</button>
 </div>

</form>
