:host {
  display: block;
  background: #f5f6fa;
  margin-top: 5px;
  border-radius: 10px;
  position: relative;
}
.content-wrapper {
  width: 100%;
}
.co-header {
  position: absolute;
  .back-icon {
    width: 30px;
    cursor: pointer;
    margin-left: -51px;
    padding: 15px 0;
  }
}

.with-overflow {
  overflow: auto;
  height: calc(100vh - 70px);
}
.box-perspective {
  .rotating-box {
    .icon {
      width: 16px;
    }
  }
  &.right {
    &:hover {
      .rotating-box {
        transform: rotateY(-30deg);
      }
    }
  }
  &.delete {
    .rotating-box {
      background: #e85f5f;
    }
    .text p {
      color: #e85f5f;
    }
  }
}
.back-ico {
  left: 0px;
  position: absolute;
  font-size: 18px;
  top: 7px;
  cursor: pointer;
}

.main-info-wrapper {
  border-radius: 10px;
  padding: 0 25px;
  justify-content: center;
  background: #ffffff;
}
.main-info {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  .item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
  }
  .item-desc {
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .item-rating {
      display: flex;
      align-items: center;
      .title {
        font-weight: 300;
        font-size: 12px;
        color: #666666;
        padding-right: 5px;
      }
      .star-content {
        display: flex;
        .star {
          width: 14px;
          margin-left: 2px;
        }
      }
    }
    .item-view-count {
      display: flex;
      align-items: flex-end;
      margin-left: 33px;
      .icon {
        width: 12px;
        margin-right: 7px;
      }
      .text {
        font-weight: 300;
        font-size: 12px;
        color: #666666;
      }
    }
  }
}
.section-title {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}
section#api {
  padding-top: 48px;
  .section-content {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    .item {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 0.5px solid #b6b6b6;
      .item-icon {
        padding: 7px 10px;
        min-width: 68px;
        border-radius: 15px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        background: #ffa800;
        cursor: pointer;
        &.ZIP {
          background: #73cb49;
        }
        &.JSON {
          background: #34ace0;
        }
        &.CSV {
          background: #487eb0;
        }
        &.XML {
          background: #7f8c8d;
        }
        &.XLS,
        &.XLSX {
          background: #16a085;
        }
        &.DOC,
        &.DOCX {
          background: #2980b9;
        }
        &.PPT,
        &.PPTX {
          background: #e67e22;
        }
        &.HTML {
          background: #1abc9c;
        }
        &.PDF {
          background: #c23616;
        }
      }
      .item-description {
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #666666;
        padding-left: 17px;
      }
      .item-links {
        display: flex;
        margin-left: auto;
        img {
          padding-left: 22px;
          height: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
section#keywords {
  padding-top: 32px;
  .section-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
  }
  .item {
    margin: 2px;
    background: #c4c4c4;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 15px;
  }
}
section#additionalInfo {
  .section-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
  }
  .item {
    margin: 2px;
    background: #c4c4c4;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 15px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#feedback {
  background: #ffffff;
  margin: 10px 0;
  border-radius: 10px;
}
section#comments {
  margin: 10px 0;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .main-info {
    .item-actions {
      flex-direction: column;
      align-items: flex-start;
       .item-view-count {
         margin-left: 0;
        }
        .box-perspective {
          .text {
            order: 1;
          }
        }
      .item-rating {
       margin: 10px 0;
      }
      .item-view-count {
        margin-bottom: 10px;
      }
    }
  }
  section#api {
    .section-content {
      .item {
        flex-direction: column;
        align-items: flex-start;
        .item-links {
          margin-left: 0;
          .info-link {
            img {
              padding-left: 0;
            }
          }
        }
        .item-description {
          padding: 10px 0;
          padding-left: 0;
        }
      }
    }
  }
}
