<div class="ng-top">
  <div class="user-content">
    <div class="user-img">
      <img src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png">
    </div>
    <div class="user-info">
      <div class="user-name">Justin Timberlake</div>
     <div class="comment-date">4 days ago</div>
    </div>
  </div>
  <div class="reply-icon">
    <img src="./assets/icons/reply2.svg">
  </div>
</div>

<div class="ng-bottom">
  It's fundamentally uncountable but people do occasionally use it as plural, e.g., Contrary to popular belief,
   Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
   literature from 45 BC, making it over 2000 years old.
</div>
