<div class="ng-top">
  <div class="user-content">
    <div  class="user-img" >
        <img *ngIf="!comment.createUserPhotoFileId" src="./assets/img/default-avatar.png">
        <img *ngIf="comment.createUserPhotoFileId"  src="{{apiUrl$ | async}}/api/get/file/{{comment.createUserPhotoFileId}}"
         onerror="this.src= './assets/img/default-avatar.png '">
    </div>
    <div class="user-info">
      <div class="user-name">{{comment?.createUserFirstname}} {{comment?.createUserLastname}}</div>
     <div class="comment-date">{{comment.createDate}}</div>
    </div>
  </div>
  <div class="reply-icon">
    <img src="./assets/icons/reply2.svg">
  </div>
</div>

<div class="ng-bottom">
    {{comment?.comment}}
</div>
