<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="module-nav">
        <div class="back-icon" routerLink="/blogs">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </div>
        <div class="module-name"> Blog</div>
      </div>

      <div class="item-box">
        <div class="item-header">
          <p>Established fact about watch stablished fact about watch fact about watch stablished.</p>
        </div>
        <div class="item-content">
          <p>{{content}}</p>
        </div>
        <div class="item-footer">
          <div class="author">Entry posted by Алиев Али Али оглу · 18 hours ago</div>
          <div class="views">576 views</div>
          <div class="star"></div>
        </div>
      </div>

      <div class="latest-blogs">
        <div class="header">Latest Article</div>
        <div class="lt-item-box">
          <div class="image">
            <img src="./assets/img/cody-davis-253928-unsplash.png">
          </div>
          <div class="content">
            <div class="header">
              Established fact about watch
            </div>
            <div class="text">
             <p>
                here are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some There are many variations of passages of Lorem Ipsum available,
                 but the majority have sufferedof passages of Lorem Ipsum available, but the majority have suffered alteration in some.
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                have suffered alteration in some There are many variations of passages of Lorem Ipsum available,
                but the majority have sufferedof passages of Lorem Ipsum available, but the majority have suffered alteration in some.
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            </p>
            </div>
            <div class="author">
              <div class="name">Javid Hasanov</div>
              <div class="symbol">
              <img src="./assets/icons/text_symbol.svg">
              <img src="./assets/icons/text_symbol.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
