<div class="content-header">
  <div class="moduleName">
   Modules
  </div>
 <div class="actions-template">
    <button mat-raised-button (click)="table.onPrintSelected()" *ngIf="table.printable">Print</button>
    <button mat-raised-button (click)="table.addData()">Add data</button>
    <button mat-raised-button (click)="table.onRemove()" [disabled]="!(table.isRowSelected)">Remove selected</button>
    <button mat-raised-button [disabled]="!(table.selectedRow)" (click)="table.onRowPin()" *ngIf="table.rowPinnable"> Pin to top</button>
    <button mat-raised-button (click)="table.onExport()" *ngIf="table.exportable">Export</button>
 </div>
 </div>

 <div class="content">
   <div class="nt-table">
     <ngx-nt-table #table
     [getApi]="'api/post/Permission/DictionaryTypes/GetDictionaryTypeList'"
     [insertApi]="'api/post/Permission/DictionaryTypes/InsertNewDictionaryType'"
     [updateApi]="'api/post/Permission/DictionaryTypes/UpdateDictionaryType'"
     [deleteApi]="'api/post/Permission/DictionaryTypes/DeleteDictionaryType'"
     (rowAdd)="initDialog(table.insertApi)"
     (rowEdit)="initUpdateDialog($event, table.updateApi)"
     [isAdmin]="true"
    ></ngx-nt-table>
   </div>
 </div>
