:host {
  display: block;
  position: relative;

}

/deep/ .animated {
  animation-duration: 700ms;
}


.items-co {
 margin-top: 6px;
  padding: 5px;
  border-radius: 10px;
 // height: calc(100vh - var(--kg-header-height) - var(--kg-global-nav-height) - var(--kg-dataset-filters-height) - 60px);
  // overflow-y: auto;
  .item {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--kg-box-background);
    margin-bottom: 5px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    min-height: 80px;
    .name {
      font-size: 14px;
      color: #333333;
    }

    .item-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-left: 0;
      border-radius: 5px;
      transition: all 200ms ease-in-out;
      margin-left: 10px;
      cursor: pointer;

      .name {
        font-weight: 400;
        line-height: 17px;
        font-size: 15px;
        text-align: left;
        color: #505050;
      }

      .icon {
        flex: 0 0 40px;
        margin-right: 12px;
        display: flex;
       /deep/ svg {
          width: 100%!important;
        }
      }

    }

    &:hover {
   //   box-shadow: 5px 2px 22px #539ec05e;
      .icon {
        /deep/ .logo-img path {
          transition: all 500ms ease-in-out;
          fill: #4C9EC7!important;
         // fill: #FFA800!important;
        }
      }
    }

    &.active {
      .item-box {
        .name {
          color: #000000;
        }
      }
      .icon {
        /deep/ .logo-img path {
          transition: all 500ms ease-in-out;
          fill: #4C9EC7!important;
        }
      }
    }
    &.active-org {
      box-shadow: 0 0 6px #95d4f5;
      .item-box {
        .name {
          color: var(--color-primary);
        }
      }
    }
  }
}
// /deep/ ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
//   border-radius: 0px;
// }
@media (max-width: 992px) {
:host {
  padding-right: 1.5rem;
}
}
