:host {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
}
.option-wrapper {
  display: flex;
  .cat-icon {
    width: 30px;
    margin-right: 10px;
  }
  .label {

  }
}
.nt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  display: flex;
  .left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  }
  .right {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.actions {
  padding: 15px 0;
  button {
    margin: 0 5px;
  }
}
