<form #f="ngForm" patch-form [form]="f" [data]="data?.row" class="nt-form">

  <div class="inputs">
    <div class="left">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'~name' | translate}} (Kg)" class="nt-form-input" name="nameKg" ngModel required>
        <mat-error>{{getErrors('nameKg')}}</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'~name' | translate}} (En)" class="nt-form-input" name="nameEn" ngModel required>
        <mat-error>{{getErrors('nameEn')}}</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'~name' | translate}} (Ru)" class="nt-form-input" name="nameRu" ngModel required>
        <mat-error>{{getErrors('nameRu')}}</mat-error>

      </mat-form-field>
    </div>
    <div class="right">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'~code' | translate}}" class="nt-form-input" name="code" ngModel required>
        <mat-error>{{getErrors('code')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{'~dictionaryType' | translate}}" class="nt-form-input" name="dicTypeId" ngModel required >
          <mat-option *ngFor="let item of (dicTypes$ | async)" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
        <mat-error>{{getErrors('moduleId')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'~parentId' | translate}}" class="nt-form-input" name="parentId" ngModel>
        <mat-error>{{getErrors('parentId')}}</mat-error>
      </mat-form-field>

      <input [hidden]="true" name="id" ngModel>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary"  type="submit"  insertTableData [form]="f" [disabled]="f?.dirty && !f?.valid"
    *ngIf="!data?.row"
    [table]="data?.table"
    (onClose)="dialogRef.close()"
    >{{'~add' | translate}}</button>
    <button mat-raised-button color="primary"  type="submit" updateTableData [form]="f"
    *ngIf="data?.row"
    [disabled]="f?.dirty && !f?.valid"
    (onClose)="dialogRef.close()"
    [table]="data?.table"
    >{{'~update' | translate}}</button>
    <button mat-raised-button (click)="dialogRef.close()" type="reset">{{'~cancel' | translate}}</button>
  </div>

</form>
