:host {
  display: block;
  position: relative;
  background: var(--kg-wrapper-background);
}
.co-header {
  position: absolute;
  .back-icon {
    width: 30px;
    cursor: pointer;
    margin-left: -51px;
    padding: 15px 0;
  }
}
.dataset-file-preview-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
  height: calc(100vh - var(--kg-header-height));
}
.dataset-info {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  background: #ffffff;
  border-radius: 10px;
  .dataset-info__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    .dataset-name {
      font-size: 18px;
      color: #333333;
      font-weight: bold;
    }
    .dataset-download {

    }
  }
  .dataset-description {
    font-size: 14px;
    text-align: justify;
    color: #333333;
  }
}

.file-box {
  flex: 1;
  margin: 8px 0;
  .file-iframe {
   width: 100%;
   height: 100%;
  }
}
.iframe-wrapper {
  width: 100%;
  height: 100%;
  iframe {
    width: 100%;
    height: 100%;
  }
}
