:host {
  display: flex;
  flex-direction: column;
 background: var(--kg-wrapper-background);
 height: calc(100vh - var(--kg-header-height));
 position: relative;
 z-index: 6; // 1 less than app-header
}

.content-wrapper {
  flex: 1;
  overflow: auto;
}
.route-tree {
  font-size: 12px;
  color: #333333;
}

