<div class="ng-admin-co-header">
  <div class="moduleName">
    {{'~dictionaries' | translate}}
  </div>
  <div class="ng-admin-actions-template"  >
    <button (click)="table.onPrintSelected()" >{{'~print' | translate}}</button>
    <button  *rbacAllow="['1000007', 'ADD']" (click)="table.addData()" >{{'~addData' | translate}}</button>
    <button  *rbacAllow="['1000007', 'DELETE']" (click)="table.onRemove()"
     [disabled]="!(table?.isRowSelected)">{{'~removeSelected' | translate}}</button>
    <button  [disabled]="!(table.selectedRow)"
    (click)="table.onRowPin()" > {{'~pinToTop' | translate}}</button>
    <button (click)="table.onExport()" >{{'~export' | translate}}</button>
 </div>
 </div>

 <div class="ng-admin-content">
   <div class="ng-admin-table">
     <ngx-nt-table #table
     [config]="config"
     (rowAdd)="initDialog(table)"
     (rowEdit)="initDialog(table, $event)"
     [isAdmin]="true"
     [editTemplate]="editer"
    ></ngx-nt-table>
   </div>
 </div>
 <ng-template #editer>
  <button [attr.t-btn]="'edit'"   *rbacAllow="['1000007', 'EDIT']">{{'~edit' | translate}}</button>
  <button [attr.t-btn]="'remove'" *rbacAllow="['1000007', 'DELETE']">{{'~delete' | translate}}</button>
</ng-template>
