:host {
  display: block;
  background: var(--kg-wrapper-background);
}
.co-title {
  font-weight: bold;
  line-height: normal;
  font-size: 1.625rem;
  text-align: center;
  color: #333333;
  padding: 2.5rem 0;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .item-box {
    border-radius: 0.5625rem;
    padding: 1.875rem 2.5rem;
    margin-bottom: 0.9375rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 300ms ease-in;
    &:hover {
      box-shadow: 0.3125rem 0.9375rem 1.375rem rgba(0, 0, 0, 0.1);
    }
    .item-name {
      font-weight: 600;
      line-height: 1.0625rem;
      font-size: 1rem;
      color: #505050;
    }
  }
}
