:host {
  display: block;
}
.animated {
  animation-duration: 500ms;
}
.nt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  display: flex;
  .left {
  display: flex;
  flex-direction: column;
  padding: 10px;

  }
  .right {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.actions {
  button {
    margin: 0 5px;
  }
}
