<global-nav class="bottom" (navChanged)="onNavChanged($event)"></global-nav>
<div class="container">
  <div class="row justify-content-between pt-4">
    <div class="col-2">
     <div class="mod-name">Categories</div>
    </div>
    <div class="col-2">
      <div class="count">8 Results</div>
    </div>
  </div>
  <div class="row  pt-4 align-items-center">
    <div class="col-3">
     <div class="route-tree">
      Open data > Categories > Family
     </div>
    </div>
    <div class="col-9">
       <form #f="ngForm" class=" filter-form" >
        <div class="search-box">
          <input placeholder="Search dataset" class="ng-input" name="datasetFullname" ngModel (keydown)="onInputEnter($event)">
          <div class="search-ico" (click)="onSubmit()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </div>
        </div>

        <div class="format-select">
            <select  name="formatId" ngModel id="format_select" (ngModelChange)="onSubmit()">
              <option value="" class="default" >Select format</option>
              <option  *ngFor="let type of (formatTypes$ | async)" [value]="type?.value">{{type?.label}}</option>
            </select>
            <div class="custom-caret">
             <img src="./assets/icons/caret.svg" class="icon">
            </div>
      </div>
      <input [hidden]="true" name="categoryId" [(ngModel)]="categoryQuery.categoryId">
    </form>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-3">
      <module-sidebar (checkboxId)="catIdChanged($event)" [type]="'category'"></module-sidebar>
    </div>
    <div class="col-9 dataset-content">
       <dataset-list [categoryQuery]= "categoryQuery" *ngIf="!datasetId" #dataset_list [type]="'category'" (boxSelected)="datasetId = $event"></dataset-list>
      <dataset-detail class="animated fadeIn" [id]="datasetId" *ngIf="datasetId" [isInner]="true" (navBack)="exitDetail()"></dataset-detail>
    </div>
  </div>
</div>
