<div class="container">
  <div class="row">
    <!-- <div class="col-12">
        <div class="co-header">

            <input class="ng-input search-bar" placeholder="Search dataset">
            <div class="search-ico">
                <fa-icon [icon]="faSearch"></fa-icon>
              </div>
          </div>
    </div> -->
  </div>
  <div class="row justify-content-start">
          <div class="col-2" *ngFor="let item of (categories$ | async);let first=first" (click) ="onNavigate(item.id)">
           <div class="item-box" *ngIf="!first" >
             <div class="icon">
                <!-- <mat-icon svgIcon="banana" class="y-icon" color="primary"></mat-icon> -->

                <img src="./assets/icons/seeding.svg">
             </div>
             <div class="name">{{item?.name}}</div>
           </div>
          </div>
  </div>

</div>
