<div class="container">
  <div class="row">
  </div>
  <div class="row justify-content-center">
        <ng-container *ngFor="let item of (categories);let first=first" >
                <div class="item-box" (click) ="onNavigate(item.id)" *ngIf="!first" >
                  <div class="icon">
                      <img src="./assets/icons/categories/{{item.iconPath}}.svg" class="svg"
                      onerror="this.src='./assets/icons/categories/181110344301612908.svg'" >
                  </div>
                  <div class="name">{{item?.name}}</div>
                </div>
        </ng-container>

  </div>

</div>
