<div class="container">
  <div class="row">
    <!-- <div class="col-12">
        <div class="co-header">

            <input class="ng-input search-bar" placeholder="Search dataset">
            <div class="search-ico">
                <fa-icon [icon]="faSearch"></fa-icon>
              </div>
          </div>
    </div> -->
  </div>
  <div class="row justify-content-between">
          <div class="col-4">
           <div class="category-block">
             <div class="field" [routerLink]="['/categories']"  >Administration</div>
             <div class="field">Agricalture</div>
             <div class="field">Administration</div>
             <div class="field">Agricalture</div>
             <div class="field">Administration</div>
             <div class="field">Agricalture</div>
           </div>
          </div>

          <div class="col-4">
              <div class="category-block">
                <div class="field">Administration</div>
                <div class="field">Agricalture</div>
                <div class="field">Administration</div>
                <div class="field">Agricalture</div>
                <div class="field">Administration</div>
                <div class="field">Agricalture</div>
              </div>
             </div>

             <div class="col-4">
                <div class="category-block">
                  <div class="field">Administration</div>
                  <div class="field">Agricalture</div>
                  <div class="field">Administration</div>
                  <div class="field">Agricalture</div>
                  <div class="field">Administration</div>
                  <div class="field">Agricalture</div>
                </div>
               </div>

               <div class="col-4">
                  <div class="category-block">
                    <div class="field">Administration</div>
                    <div class="field">Agricalture</div>
                    <div class="field">Administration</div>
                    <div class="field">Agricalture</div>
                    <div class="field">Administration</div>
                    <div class="field">Agricalture</div>
                  </div>
                 </div>

                 <div class="col-4">
                    <div class="category-block">
                      <div class="field">Administration</div>
                      <div class="field">Agricalture</div>
                      <div class="field">Administration</div>
                      <div class="field">Agricalture</div>
                      <div class="field">Administration</div>
                      <div class="field">Agricalture</div>
                    </div>
                   </div>

                   <div class="col-4">
                      <div class="category-block">
                        <div class="field">Administration</div>
                        <div class="field">Agricalture</div>
                        <div class="field">Administration</div>
                        <div class="field">Agricalture</div>
                        <div class="field">Administration</div>
                        <div class="field">Agricalture</div>
                      </div>
                     </div>
  </div>

</div>
