<div class="ng-admin-co-header">
  <div class="moduleName">
    {{'--modules' | translate}}
  </div>
  <div class="ng-admin-actions-template"  >
    <button (click)="table.onPrintSelected()" >{{'--print' | translate}}</button>
    <button  *rbacAllow="['1000002', 'ADD']" (click)="table.addData()" >{{'--addData' | translate}}</button>
    <button  *rbacAllow="['1000002', 'DELETE']" (click)="table.onRemove()"
     [disabled]="!(table?.isRowSelected)">{{'--removeSelected' | translate}}</button>
    <button  [disabled]="!(table.selectedRow)"
    (click)="table.onRowPin()" > {{'--pinToTop' | translate}}</button>
    <button (click)="table.onExport()" >{{'--export' | translate}}</button>
 </div>
 </div>

 <div class="ng-admin-content">
   <div class="ng-admin-table">
     <ngx-nt-table #table
     (rowAdd)="initDialog(table)"
     (rowEdit)="initDialog(table, $event)"
     [featureTemplate]="true"
     [config]="config"
    ></ngx-nt-table>
   </div>
 </div>

 <ng-template #editer>
  <button [attr.t-btn]="'edit'"   *rbacAllow="['1000002', 'EDIT']">{{'--edit' | translate}}</button>
  <button [attr.t-btn]="'remove'" *rbacAllow="['1000002', 'DELETE']">{{'--delete' | translate}}</button>
</ng-template>
