:host {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
}
.nt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  .field-title{
  color: #999591;
  font-size: 14px;
  }
  .editor {
    width: 99%;
  }
}
.inputs {
  display: flex;
 flex-direction: column;
.row-1 {
  display: flex;
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
}
.row-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

}

.actions {
  button {
    margin: 0 5px;
  }
}
.input-title {
  width: 300px;
}
.input-textarea {
   height: 100px;
}
