<form #f="ngForm" patch-form [form]="f" [data]="data?.row" class="nt-form" >

  <div class="inputs">
   <div class="row-1">
      <div class="left">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="{{'~comment' | translate}} (Kg)" class="nt-form-input input-textarea" name="comment" ngModel  required> </textarea>
          <mat-error>{{getErrors('comment')}}</mat-error>
        </mat-form-field>
        <input [hidden]="true" name="sharingId" ngModel>
        <input [hidden]="true" name="id" ngModel>
       </div>
   </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary"  type="submit"  insertTableData [form]="f"
    *ngIf="!data?.row"
    [disabled]="f?.dirty && !f?.valid"
    (onClose)="dialogRef.close()"
    [table]="data?.table"
    >{{'~add' | translate}}</button>
    <button mat-raised-button color="primary"  type="submit" updateTableData [form]="f"
    *ngIf="data?.row"
    [disabled]="f?.dirty && !f?.valid"
    (onClose)="dialogRef.close()"
    [table]="data?.table"
    >{{'~update' | translate}}</button>
    <button mat-raised-button (click)="dialogRef.close()" type="reset">{{'~cancel' | translate}}</button>
  </div>
</form>
