<div class="container" *ngIf="newsItem" style="padding: 30px 70px">
  <div class="row">
    <div class="col-12">
      <section id="breadcrumb">
        <breadcrumb [breadcrumbs]="breadcrumbs"> </breadcrumb>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="content-wrapper">
        <div class="co-title">
          <ng-container [ngSwitch]="type">
              <p *ngSwitchCase="'News'">{{'~news' | translate}} </p>
              <p *ngSwitchCase="'Blog'">{{'~blogs' | translate}} </p>
              <p *ngSwitchCase="'Announcement'">{{'~announcements' | translate}} </p>
          </ng-container>

        </div>
        <div class="item-title">
         {{newsItem.title}}
        </div>
        <div class="item-date">{{newsItem.publishDate | date: 'd MMMM y'}}</div>
      <div class="item-content">
        <div class="item-img"  style="float: left" >
            <img [src]="newsItem.fileId | imgSrc">
            <!-- <img src="./assets/img/joshua-rawson-harris-664381-unsplash.png"> -->
        </div>
       <div class="content-text" [innerHTML]="newsItem.content"></div>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="seperator"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 col-xl-6">
      <div class="other-items">
        <div class="other-items__title">
          <ng-container [ngSwitch]="type">
              <p *ngSwitchCase="'News'">{{'~recommendedNews' | translate}} </p>
              <p *ngSwitchCase="'Blog'">{{'~recommendedBlogs' | translate}} </p>
              <p *ngSwitchCase="'Announcement'">{{'~recommendedAnnouncements' | translate}} </p>
          </ng-container>
        </div>
       <other-item *ngFor="let item of otherItems" [item]="item" routerLink="/home/news/{{item.id}}" [queryParams]="{type: type}"> </other-item>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <section id="comments">
        <comments
          [getApi]="'api/get/Permission/Sharing/GetSharingCommentListForCommon'"
          [insertApi]="'api/post/Permission/Sharing/InsertNewSharingComment'"
          [kvKey]="'sharingId'"
          [id]="newsItem.id"
        ></comments>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <section id="paginations">

      </section>
    </div>
  </div>
</div>
<div class="footer-wrapper">
    <app-footer></app-footer>
</div>