:host {
  display: block;
  background: #3C3C3C;
  padding-top: 58px;
  width: 100%;
}

.app-icon {
  width: 85px;
  height: 29px;
  margin-bottom: 7px;
}

.app-title {
  .primary {
    font-weight: 800;
    line-height: 13px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .secondary {
    line-height: 11px;
    font-size: 10px;
    color: #FFFFFF;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .link {
    line-height: 29px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
  }
}

.customer-logo {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 20px;
  .primary {
    width: 18px;
    height: 18px;
  }

  .secondary {
    width: 86px;
    height: 20px;
  }
}

.rights {
  padding: 15px 0;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.22);
}
