<div class="container footer">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="app-icon">
        <img src="./assets/icons/opendata_final.svg" />
      </div>
      <div class="app-title">
        <div class="primary">Kyrgyzstan Republic</div>
        <div class="secondary">Open Data Portal</div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="container-fluid">
        <div class="row pt-4 pt-md-0">
          <div class="col-4">
            <div class="links-box">
              <div class="link"
                [routerLink] = "'/home/news'"
                [queryParams]="{type: 'News'}"
          >{{'~news' | translate}}</div>
              <div class="link"
                [routerLink] = "'/home/news'"
                [queryParams]="{type: 'Annoucement'}"
              >{{'~announcements' | translate}}</div>
              <div class="link"
                [routerLink] = "'/home/news'"
                [queryParams]="{type: 'Blog'}"
              >{{'~blogs' | translate}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="links-box">
              <div class="link" routerLink="/home/datasets/by-category/0">{{'~categories' | translate}}</div>
              <div class="link" routerLink="/home/datasets/by-organization/">{{'~organizations' | translate}}</div>
              <div class="link" (click)="onLatestNavigate()">{{'~latestDatasets' | translate}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="links-box">
              <div class="link">Kyrgyzstan lorem</div>
              <div class="link">Tel: 080 898 4335</div>
              <div class="link">Fax: 98879 345 5773</div>
              <div class="link">Email: office@opendata.kg</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 d-none d-lg-block">

    </div>
  </div>
  <div class="row align-items-center justify-content-between">
    <div class="col-3">
      <div class="customer-logo">
        <div class="primary"><img src="./assets/icons/by_large.svg" /></div>
        <div class="secondary"><img src="./assets/icons/cc.logo_.svg" /></div>
      </div>
    </div>
    <div class="col-3">
      <div class="brand-logo">
        <div class="title">{{'~createdBy' | translate}}</div>
          <img src="./assets/icons/neuron-footer.svg">
      </div>
    </div>
  </div>
</div>
<div class="rights">{{'~allRightsReserved' | translate}}</div>
