:host {
  display: block;
  background: #383a3c;
  padding-top: 3.625rem;
  width: 100%;
}

.app-icon {
  width: 5.3125rem;
  height: 1.8125rem;
  margin-bottom: 0.4375rem;
}
.brand-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: flex-end;
  width: 6.25rem;
  margin-right: auto;
  .title {
    color: grey;
    font-size: 0.875rem;
  }
  img {
    height: auto;
  }
}
.app-title {
  .primary {
    font-weight: 800;
    line-height: 13px;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .secondary {
    line-height: 0.6875rem;
    font-size: 0.625rem;
    color: #FFFFFF;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .link {
    line-height: 1.8125rem;
    font-size: 1.0625rem;
    color: #FFFFFF;
    cursor: pointer;
  }
}

.customer-logo {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 1.25rem;
  .primary {
    width: 1.125rem;
    height: 1.125rem;
  }

  .secondary {
    width: 5.375rem;
    height: 1.25rem;
  }
}

.rights {
  padding: 0.9375rem 0;
  font-size: 0.625rem;
  text-align: center;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.22);
}

@media (max-width: 768px)  {
  .footer {
    max-width: 720px;
  }
}