<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="app-icon">
        <img src="./assets/icons/opendata_final.svg" />
      </div>
      <div class="app-title">
        <div class="primary">Kyrgyzstan Republic</div>
        <div class="secondary">Open Data Portal</div>
      </div>
    </div>
    <div class="col-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="links-box">
              <div class="link">Suggest a dataset</div>
              <div class="link">Privacy Policy</div>
              <div class="link">Give a feedback</div>
              <div class="link">About</div>
            </div>
          </div>
          <div class="col-4">
            <div class="links-box">
              <div class="link">Suggest a dataset</div>
              <div class="link">Privacy Policy</div>
              <div class="link">Give a feedback</div>
              <div class="link">About</div>
            </div>
          </div>
          <div class="col-4">
            <div class="links-box">
              <div class="link">Suggest a dataset</div>
              <div class="link">Privacy Policy</div>
              <div class="link">Give a feedback</div>
              <div class="link">About</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="customer-logo">
        <div class="primary"><img src="./assets/icons/by_large.svg" /></div>
        <div class="secondary"><img src="./assets/icons/cc.logo_.svg" /></div>
      </div>
    </div>
  </div>
</div>
<div class="rights">All Rights Reserved</div>
