:host {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
}
/deep/ .mat-step-header .mat-step-icon {
  background-color: #ffc107;
  color: rgba(255,255,255,.87);
}
.nt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-top: 20px;
  justify-content: space-between;
}
  .main-info {
  display: flex;
  flex-direction: column;
   .row-1 {
     display: flex;
    width: 100%;
    justify-content: space-between;
   }
  }

    .title {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;

    .add-icon {
      color: #ffc107;
      font-size: 22px;
      cursor: pointer;
    }
    }


.actions {
  padding-bottom: 5px;
  button {
    margin: 0 5px;
  }
}
