:host {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
}
/deep/ .mat-step-header .mat-step-icon {
  background-color: #ffc107;
  color: rgba(255,255,255,.87);
}
.nt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .main-info {
  display: flex;
  flex-direction: column;
  width: 400px;
   .row-1 {
     display: flex;
    .left {
      display: flex;
      flex-direction: column;
      padding: 10px;
      }
      .right {
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
   }
      .row-2 {
        padding: 10px;
        .text-area {
          width: 100%;
        }
      }
  }

    .title {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;

    .add-icon {
      color: #ffc107;
      font-size: 22px;
      cursor: pointer;
    }
    }


.actions {
  button {
    margin: 0 5px;
  }
}
