:host {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.625rem;
}
.co-title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.125rem;
  color: #333333;
padding-bottom: 0.9375rem;
}
