<form #f="ngForm" class=" filter-form" >
  <div class="search-box">
    <input class="ng-input" placeholder="{{'~searchDataset' | translate}}"
    simpleTypeAhead
    [taListItemLabel]="'title'"
    (taSelected)="handleResultSelected($event)"
    [taAdapter]="adapter"
    ngModel name="title"
    [autocomplete]="'off'"
    >
    <div class="search-ico" (click)="onSubmit(f)">
      <img src="./assets/icons/search-icon.svg">
    </div>
  </div>

  <div class="format-select">
      <select  name="categoryId" ngModel id="format_select" (ngModelChange)="onSubmit(f)">
        <option value="" disabled selected>{{'~category' | translate}}</option>
        <option  *ngFor="let type of (catTypes$ | async)" [value]="type?.value">{{type?.label}}</option>
      </select>
      <div class="custom-caret">
       <img src="./assets/icons/caret.svg" class="icon">
      </div>
</div>
</form>

