<form #f="ngForm" class="nt-form" (ngSubmit)="onSubmit(f)" autocomplete="2">

    <div class="inputs">
      <div class="left">

        <div class="upload-item-img">

          <ng-container *ngIf="!user?.photoFileId">
            <img src="./assets/icons/avatar.svg">
          </ng-container>

          <ng-container *ngIf="user?.photoFileId">
            <img src="{{user?.photoFileId | imgSrc}}" onerror="this.src = './assets/icons/avatar.svg'">
          </ng-container>
          <div class="img-corners">
            <div class="arrow"></div>
            <div class="arrow-2"></div>
          </div>
          <div class="upload-div animated slideInUp">
            <p *ngIf="!user?.photoFileId" (click)="onUpload()">{{'~uploadImg' | translate}}</p>
            <p *ngIf="user?.photoFileId " class="remove-img" (click)="onRemoveFile(user?.photoFileId)">{{'~removeImg' | translate}}</p>
          </div>

        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'~username' | translate}}" class="nt-form-input" name="userName" [ngModel]="user?.userName" required>
          <mat-error>{{getErrors('userName')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'~firstname' | translate}}" class="nt-form-input" name="name" [ngModel]="user?.name"  required>
          <mat-error>{{getErrors('fName')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'~lastname' | translate}}" class="nt-form-input" name="surname"[ngModel]="user?.surname" required>
          <mat-error>{{getErrors('lname')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'~middlename' | translate}}" class="nt-form-input" name="patronymic" [ngModel]="user?.patronymic" >
          <mat-error>{{getErrors('mname')}}</mat-error>
        </mat-form-field>


      </div>

      <div class="right">

        <mat-form-field>
          <mat-select placeholder="{{'~gender' | translate}}" class="nt-form-input" name="genderId" [ngModel]="user?.gender?.id">
            <mat-option *ngFor="let item of (genders$ | async)" [value]="item.value"> {{item.label}} </mat-option>
          </mat-select>
          <mat-error>{{getErrors('genderId')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="{{'~birthdate' | translate}}" name="birthdate" [ngModel]="user?.birthdate"
            [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startDate" startView="year"></mat-datepicker>
          <mat-error>{{getErrors('birthDate')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput placeholder="{{'~oldPassword' | translate}}" class="nt-form-input" name="oldPassword" autocomplete="new-password" ngModel [type]="hideOld ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>{{getErrors('oldPassword')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'~newPassword' | translate}}" value="" class="nt-form-input" name="password" autocomplete="new-password" ngModel [type]="hide ? 'password' : 'text'"
            [required]="!data.user">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>{{getErrors('passwd')}}</mat-error>
        </mat-form-field>

        <input [hidden]="true" name="photoFileId" value="photoFileId" [(ngModel)]="user.photoFileId" >
        <input [hidden]="true" name="id" ngModel>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary"  type="submit"
      [disabled]="f?.dirty && !f?.valid"
      >{{'~update' | translate}}</button>
      <button mat-raised-button (click)="dialogRef.close()" type="reset">{{'~cancel' | translate}}</button>
    </div>

  </form>
