:host {
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  .card-image {
    flex: 0 0 130px;
   img {
    height: auto;
   border-radius: 10px;
   }
  }
  .ng-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    .ng-card-title {
      font-weight: 800;
      line-height: normal;
      font-size: 14px;
      color: #444444;

    }
    .card-text {
      font-weight: 300;
      line-height: 19px;
      font-size: 14px;
      text-align: justify;
      color: #5A5A5A;
      padding: 6px 0;
      height: 42px;
      overflow: hidden;
    }
    .card-date {
      font-weight: 300;
      line-height: 19px;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      color: #5A5A5A;
      margin-top: 6px;
    }
  }
}
