:host {
  display: block;
 // padding-top: 3em;
 background: #f5f6fa;
 height: calc(100vh - 70px);
// overflow: hidden;
position: relative;
z-index: 6; // less than app-header
}
.content-wrapper {
  height: 100%;
  overflow: auto;
}
.animated {
 animation-delay: 600ms;
}


.route-tree {
  font-size: 12px;
  color: #333333;
}

.filter-form {
  display: flex;
  .search-box {
    display: flex;
     padding: 11px 28px;
     width: 100%;
     background: #ffffff;
     position: relative;
     border-radius: 9px;
     .ng-input {
      &::placeholder {
        font-size: 14px;
       color: #969696;
      }
      .search-ico {
        color:  #969696;
        padding: 0 21px;
        font-size: 18px;
        opacity: 0.8;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
     }
  }
  .format-select {
      width: 270px;
      margin-left: 30px;
      position: relative;
      select {
        width: 100%;
        height: 100%;
        border:0;
        outline: none;
        border-radius: 9px;
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        padding-left: 20%;
        cursor: pointer;
        .default {
          padding: 15px 50px;

        }
      }
      .custom-caret {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 100%;
        cursor: pointer;
        background: #49ACC6;
        border-radius: 0px 9px 9px 0px;
        pointer-events: none;
        .icon {
          width: 14px;
        }
      }
  }
}
/deep/ ::-webkit-scrollbar {
  width: 6px;
}

/deep/ ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 5px;
}

/deep/ ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
