:host {
  display: flex;
  flex-direction: column;
  background: var(--kg-wrapper-background);
 // height: calc(100vh - var(--kg-header-height));
  flex: 1 0 auto;
  position: relative;
  z-index: 6; // 1 less than app-header
}
.content-wrapper {
  flex: 1;
 // overflow: auto;
}
.animated {
 animation-delay: 600ms;
}

.route-tree {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #333333;
  .arrow {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
  }
}
