:host {
  display: flex;
  flex-direction: column;
  background: var(--kg-wrapper-background);
 // height: calc(100vh - var(--kg-header-height));
  flex: 1;
  position: relative;
  z-index: 6; // 1 less than app-header
}
.content-wrapper {
  flex: 1;
  overflow: auto;
}
.animated {
 animation-delay: 600ms;
}


.route-tree {
  font-size: 13px;
  color: #333333;
}

/deep/ ::-webkit-scrollbar {
  width: 6px;
}

/deep/ ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 5px;
}

/deep/ ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
