:host {
  display: block;
  width: 100vw;
  height: calc(100vh - 70px);
  background-image: var(--kg-background-image);
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.overview-box {
  width: 100%;
  min-height: 220px;
  background: var(--kg-wrapper-background);
  transition: height 500ms ease-in-out;
}
.global-navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  transition: top 0.25s ease-out;
  top: calc(100vh - 197px);
  width: calc(100vw);
  background-image: linear-gradient(to right, #4e8ec8, #47a8c5);
  .content {
    display: block;
    width: 100%;
    height: calc(100vh - 180px);
    overflow-y: auto;
  }
  &.bottom {
   // top: calc(100vh - 140px);
  }
  &.top {
    top: 0;
  //  transform: translateY(calc(-100vh + 197px));
  }
}
