:host {
  display: block;
  width: 100vw;
  height: calc(100vh - 70px); // was - 70px
  background-image: linear-gradient(to right, #4e8ec8, #47a8c5);
  overflow-y: auto;
  overflow-x: hidden;

  position: relative;
}

/deep/ ::-webkit-scrollbar {
 //  display: none;
}
.modules-wrapper {
    z-index: 2;
    width: 100vw;
    position: absolute;
    height: 100vh;
    top: calc(100vh - 197px);
}
.modules{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  transition: top 0.25s ease-out;
  top: calc(100vh - 197px);
  &.bottom {
   // top: calc(100vh - 140px);
  }
  &.top {
    top: 0;
  //  transform: translateY(calc(-100vh + 197px));
  }
}
