<div class="main-page-co">

  <div class="search-container">
    <div class="search-header">
      <div class="primary-name">
        {{'BRAND.primaryName' | translate}}
      </div>
      <div class="secondary-name">
        {{'BRAND.secondaryName' | translate}}
      </div>
    </div>
    <div class="input-co">
      <div class="search-ico">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
      <input class="search-input" placeholder="Write any word for search" (click)="resetMouse()" >
      <div class="submit-ico">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>
    </div>
  </div>
<div #container ></div>



</div>

<div class="modules">
    <a class="module">Categories</a>
    <a class="module">Companies</a>
    <a class="module">Services</a>
    <a class="module">Popular Services</a>
  </div>
