<div class="content-header">
  <div class="moduleName">
  Comments
  </div>
 <div class="actions-template">
    <button mat-raised-button color="primary" (click)="table.onPrintSelected()" *ngIf="table.printable">Print</button>
    <button mat-raised-button color="primary" *rbacAllow="['1000011', 'ADD']" (click)="table.addData()">Add data</button>
    <button mat-raised-button color="primary"  *rbacAllow="['1000011', 'DELETE']" (click)="table.onRemove()" [disabled]="!(table.isRowSelected)">Remove selected</button>
    <button mat-raised-button color="primary" [disabled]="!(table.selectedRow)" (click)="table.onRowPin()"> Pin to top</button>
    <button mat-raised-button color="primary"  (click)="table.onExport()" *ngIf="table.exportable">Export</button>
 </div>
 </div>

 <div class="content">
   <div class="nt-table">
     <ngx-nt-table #table
     [config]="config"
     (rowAdd)="initDialog(table)"
     [editTemplate]="editer"
     (rowEdit)="initDialog(table, $event)"
    ></ngx-nt-table>
   </div>
 </div>
 <ng-template #editer>
  <button [attr.t-btn]="'edit'"   *rbacAllow="['1000011', 'EDIT']">Edit</button>
  <button [attr.t-btn]="'remove'" *rbacAllow="['1000011', 'DELETE']">Remove</button>
  <button [attr.t-btn]="'confirm'" *rbacAllow="['1000011', 'CONFIRM']">Confirm</button>
  <button [attr.t-btn]="'unConfirm'" *rbacAllow="['1000011', 'UNCONFIRM']">UnConfirm</button>
</ng-template>
