:host {
  display: block;
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  left: 1em;
  top: 0;
}
.lang-list {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  .lang {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: font-weight 0ms ease-in-out;
    &.active {
      font-weight: bold;
    }
  }
  .horizontal-line {
    height: 60px;
    width: 1px;
    left: 4px;
    background: #ffffff;
    position: relative;
  }
}
