:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.ngx-table-element-wrapper {
  width: 100%;
  flex: 1;
  overflow:auto;
  &:hover {
    overflow: auto;
  }

  .ngx-native-table {
    display: table;
    table-layout: auto;
    width: 100%;
    border-collapse: seperate;
    background: #ffffff;
    border-spacing: 0;
    thead {
      color: rgba(0, 0, 0, 0.54);
    }

    th.ngx-index-number {
      z-index: 3 !important;
    }
    &__th {
      border-bottom: 1px solid #e0e0e0;
      padding: 0.8rem;
      position: sticky;
      top: 0;
      background: #ffffff;
      z-index: 10;
      cursor: pointer;
      .th-wrapper {
        display: flex;
        align-items: center;
        .sort-icon-wrapper {
          font-size: 10px;
          margin-left: 6px;
          height: 14px;
        }
      }
      &.date-cell {
        padding: 0.7rem;

      }

    }
    &__tr {
      transition: background-color 0.1s ease-in-out;
      .ngx-checkmark {
        position: relative;
        cursor: pointer;
        pointer-events: none;
        font-size: 22px;
        height: 25px;
        width: 25px;
        .ngx-checkmark__icon {
          position: absolute;
          top: 0;
          left: 0;
          height: 19px;
          width: 19px;
          background-color: #ffffff;
          border: 1px solid #eee;
          &:after {
            content: '';
            position: absolute;
            display: none;
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid #9b9b9b;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      &.checked {
        background-color: #eee;
          .ngx-checkmark {
            .ngx-checkmark__icon:after {
              display: block;
            }
          }
          td {
            background-color: #eee !important;
          }
        }
          &:hover {
            background-color: #fafafa;
            td {
              background-color: #fafafa;
            }
          }
    }
    &__td {
      border-bottom: 1px solid #e0e0e0;
      .data-cell {
        margin: 0.7em;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        max-width: 175px;
        text-overflow: ellipsis;
      }
      .filter-cell {
        input {
          padding: 4px 6px;
          margin: 0;
          text-align: center;
          color: #757575;
          border: 1px solid #d3d3d3;
          border-radius: 3px;
        }
      }
      .ngx-native-checkmark-cell {
        cursor: pointer;
        border-bottom: 1px solid #e0e0e0;
      }
      .ngx-native-checkmark-cell > * {
        pointer-events: none;
      }
    }
    &__th.--editer, &__td.--editer {
      position: sticky;
      right: 0;
      width: 50px;
      background: #ffffff;
      border-left: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
    &__th.--index-number, &__td.--index-number {
        position: sticky;
        left: 0;
        background: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
        width: 25px;
    }

  }



}


.table-edit-wrapper {
  display: flex;
  justify-content: flex-end;
}

// td.ngx-native-checkmark-cell {
//   cursor: pointer;
//   border-bottom: 1px solid #e0e0e0;
// }
// td.ngx-native-checkmark-cell > * {
//   pointer-events: none;
// }
