<div class="ng-admin-co-header">
  <div class="moduleName">
   Organizations
  </div>
 <div class="ng-admin-actions-template" >
    <button mat-raised-button (click)="table.onPrintSelected()" *ngIf="table?.printable">Print</button>
    <button mat-raised-button (click)="table.addData()" *rbacAllow="['1000009', 'ADD']"  >Add data</button>
    <button mat-raised-button (click)="table.onRemove()"*rbacAllow="['1000009', 'DELETE']" [disabled]="!(table?.isRowSelected)" >Remove selected</button>
    <button mat-raised-button [disabled]="!(table?.selectedRow)" (click)="table.onRowPin()" *ngIf="table?.rowPinnable"> Pin to top</button>
    <button mat-raised-button (click)="table.onExport()" *ngIf="table?.exportable">Export</button>
 </div>
 </div>

 <div class="ng-admin-content" *rbacAllow="['1000009', 'ALL_VIEW']" >
   <div class="ng-admin-table">
     <ngx-nt-table #table
     [config]="config"
     (rowAdd)="initDialog(table)"
     (rowEdit)="initDialog(table,$event)"
    ></ngx-nt-table>
   </div>
 </div>

 <ng-template #editer>
  <button [attr.t-btn]="'edit'"   *rbacAllow="['1000009', 'EDIT']">Edit</button>
  <button [attr.t-btn]="'remove'" *rbacAllow="['1000009', 'DELETE']">Remove</button>
</ng-template>
