:host {
  display: block;
}
/deep/ .animated {
  animation-duration: 700ms;
}
.module-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: linear-gradient(90.07deg, #4C9EC7 0.02%, #4C9EC7 99.99%);
  border-radius: 9px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
}

.items-co {
  margin-top: 14px;
  padding: 25px;
  background: #FFFFFF;
  border-radius: 10px;
 .item {
   display: flex;
   align-items: center;
   cursor: pointer;
  padding-bottom: 40px;
  .name {
    font-size: 14px;
    color: #333333;
    margin-left: 10px;
  }

 }
}
