<div class="module-title">{{type | uppercase}}</div>
<div class="items-co" *ngIf="ready" >
  <form [formGroup]="form" >
    <div class="item" formArrayName="items" *ngFor="let cat of form.controls['items'].controls; let i = index" >
        <mat-checkbox  [formControlName]="i" (change)="onCheckChange($event, itemList[i].id)" color="primary" >
            <div class="name" [attr.id]="itemList[i].id">
          {{itemList[i].name}} ({{itemList[i].countCategory}})
              </div>
        </mat-checkbox>
    </div>
  </form>
</div>
