<div class="module-title">{{type | uppercase}}</div>
<div class="items-co">
    <div class="item"  *ngFor="let cat of itemList; let i = index" (click)="onItemClick(cat.id)"
    [ngClass]="{'active': itemList[i].id === selectedIndex}">

          <div class="item-box"  [attr.id]="itemList[i].id" >
            <div class="icon">
               <img src="./assets/icons/seeding.svg">
            </div>
            <div class="name"> {{itemList[i].name}} ({{itemList[i].countCategory}})</div>
          </div>

    </div>
</div>
