/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets//themes/ag-theme.scss";
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
z-1 {
  z-index: 1;
}
button.kg-btn {
  border: 0;
  outline: 0;
}
  a {
    color: #333333;;
    text-decoration: none!important;
    &:hover, &:active, &:visited {
      color: #333333;
    }
  }
p {
  margin: 0;
}
div {
  outline: 0;
}
body {
}
