/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets//themes/ag-theme.scss";
* {
  box-sizing: border-box;
}
#ngx-nt-table {
  height: 100%!important;
}

html, body {
  width: 100%;
  height: 100%;
}
z-1 {
  z-index: 1;
}
button {
  border: 0!important;
  outline: 0!important;
}
  a {
    color: #333333;;
    text-decoration: none!important;
    font-family: 'OpensSans', sans-serif;
    &:hover, &:active, &:visited {
      color: #333333;
    }
  }
p {
  margin: 0;
  font-family: 'OpensSans', sans-serif;
}
div {
  outline: 0;
  font-family: 'OpensSans', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("opentype");
}
