/* You can add global styles to this file, and also import other style files */
 @import "./assets//themes/custom-theme.scss";

@import "./assets//themes/ag-theme.scss";
:root {
  --color-primary: #539EC0;
}
* {
  box-sizing: border-box;
}
#ngx-nt-table {
  height: 100%!important;
}
@media all and  (min-width: 1430px){
  .container {
    max-width: 1430px;
}
}



html, body {
  width: 100%;
  height: 100%;
  background: #f5f6fa;
}
.mat-dialog-container::before {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,166,87,.5);
    opacity: .1;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
}
z-1 {
  z-index: 1;
}
button {
  height: auto!important;
  border: 0!important;
  outline: 0!important;
}
  a {
    color: #333333;;
    text-decoration: none!important;
    font-family: 'OpensSans', sans-serif;
    &:hover, &:active, &:visited {
      color: #333333;
    }
  }
p {
  margin: 0;
  font-family: 'OpensSans', sans-serif;
}
div {
  outline: 0;
  font-family: 'OpensSans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

::-webkit-scrollbar {
  width: 9px;
  // background-image: -webkit-gradient(linear,
  // left bottom,
  // left top,
  // color-stop(0.44, #539EC0),
  // color-stop(0.72 , #c9e4ee),
  // color-stop(0.86, #539EC0));
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("opentype");
}

.color-primary {
  color: #539EC0;
}
.upload-item-img {
  width: 180px;
  height: 158px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  background-color: #212121;
  img {
    background: lightgrey;
    object-fit: initial;
    transition:  all 300ms ease-in-out;
    &:hover {
      filter: alpha(opacity=20);
      -webkit-opacity: 0.2;
      opacity: 0.2;
    }
  }
  .img-corners {
    display: flex;
    position: absolute;
    right: 4px;
    top: 5px;
    .arrow {
      width: 0;
      height: 2px;
      position: relative;
      right: 0px;
      background: white;
      transition-delay: 250ms;
      transition: width 500ms ease-in-out;
    }
    .arrow-2 {
      height: 0;
      width: 2px;
      top: 10px;
      background: white;
      transition-delay: 250ms;
      transition: height 500ms ease-in-out;
    }
  }
  .upload-div {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: lightgrey;
    padding: 7px;
    text-align: center;
    pointer-events: none;
    }
    &:hover {
      .upload-div {
        display: block;
      }
      .img-corners {
        .arrow {
          width: 30px;
        }
        .arrow-2 {
          height: 30px;
        }
      }
    }

}
.ng-opacity {
  opacity: 1;
}
.no-opacity {
  opacity: 0;
}
.ta-results {
  top: 53px;
  width: 100%;
  left: 0;
 background: white;
 z-index: 1;
 // border-radius: 25px;
 box-shadow: 0px 6px 28px -6px rgba(0,0,0,0.75);
}
.ta-item:nth-child(2){
 // border-top-left-radius: 25px;
 // border-top-right-radius: 25px;
}
.ta-item:last-child {
 // border-bottom-left-radius: 25px;
 // border-bottom-right-radius: 25px;
}
.ta-item {
  padding: 15px 20px
}
.ng-input {
    background: #ffffff;
    border: 0;
    outline: 0;
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
    &::placeholder {
      font-size: 12px;
      color: var(--color-primary);
    }
}
.ps .ps__rail-x:hover, .ps .ps__rail-y:hover {
  background-color: transparent!important;
}

.ng-button {

}


.box-perspective {
  display: flex;
  perspective: 100px;
  height: 44px;
  .rotating-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 100%;
    background: #4AAAC6;
    position: relative;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    .icon {
      width: 7px;
     position: absolute;
    }
  }
  .text {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  //  transition: visibility 300ms ease-in-out;
    &.animated {
      animation-duration: 300ms;
    }
    p {
      font-weight: bold;
      padding-left: 13px;
      line-height: 17px;
      font-size: 12px;
      text-transform: uppercase;
      color: #48B1C5;
      border-radius: 9px;
    }

  }
  &:hover {
    .rotating-box{
      transform: rotateY(45deg);
      }
      .text {
        visibility: visible;
      }
  }
}
