<form #f="ngForm" patch-form [form]="f" [data]="data?.row" class="nt-form" >

  <div class="inputs">
    <div class="left">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Order By" class="nt-form-input" name="orderBy" ngModel  >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name Kg" class="nt-form-input" name="nameKg" ngModel  required>
        <mat-error>{{getErrors('nameAz')}} </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name En" class="nt-form-input" name="nameEn" ngModel required >
        <mat-error>{{getErrors('nameEn')}} </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name Ru" class="nt-form-input" name="nameRu" ngModel required >
        <mat-error>{{getErrors('nameRu')}} </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Permission Url" class="nt-form-input" name="permissionUrl" ngModel required >
        <mat-error>{{getErrors('permissionUrl')}} </mat-error>
      </mat-form-field>


     </div>

          <div class="right">
            <mat-form-field>
              <mat-select placeholder="Module id" class="nt-form-input" name="moduleId" ngModel required >
                <mat-option *ngFor="let item of (modules$ | async)" [value]="item.value">
                  {{item.label}}
                </mat-option>
              </mat-select>
              <mat-error>{{getErrors('moduleId')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Parent Id" class="nt-form-input" name="parentId" ngModel required>
              <mat-error>{{getErrors('parentId')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Type" class="nt-form-input" name="type" ngModel type="number" >
                <mat-error>{{getErrors('type')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Code" class= "nt-form-input" name="code" ngModel required >
                <mat-error>{{getErrors('code')}}</mat-error>
              </mat-form-field>

             <input [hidden]="true" name="id" ngModel>
          </div>
  </div>
<div class="actions">
  <button mat-raised-button color="primary"  type="submit" insertTableData
  *ngIf="data?.insertApi" [disabled]="!f?.valid"
  [url] ="data?.insertApi"
  [form]="f"
  (onClose)="dialogRef.close()"
  >Add</button>
  <button mat-raised-button color="primary"  type="submit" updateTableData
  *ngIf="data?.updateApi" [disabled]="!f?.valid"
  [url] ="data?.updateApi"
  [form]="f"
  (onClose)="dialogRef.close()"
  >Update</button>
  <button mat-raised-button (click)="dialogRef.close()" type="reset">Cancel</button>
</div>

</form>
