:host {
  display: block;
  position: relative;
  width: 100vw;;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.05);
}

/deep/ * {
  font-family: 'Roboto', sans-serif;
}
.color-filter:before {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,166,87,.3);
    opacity: .1;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
}
.wrapper-co {
  width: 100%;
  display: flex;
}

.wrapper-div {
  display: flex;
  position: relative;
  width: calc(100% - 256px);
  min-width: 860px;
  height: 100vh;
  padding: var(--kg-admin-padding) 0;
}
