
<div class="container-fluid color-filter">
  <div class="row">
    <div class="col-12 p-0 ">
      <admin-header></admin-header>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-xl-2 c-p">
      <left-aside></left-aside>
    </div>
    <div class="col-9 col-xl-10 p-0 d-flex c-height">
      <router-outlet></router-outlet>
      <right-aside></right-aside>
    </div>
  </div>
</div>

<!--
<div style="display: flex;">
  <left-aside style="width:30%"></left-aside>
  <router-outlet></router-outlet>
</div> -->
