:host {
  display: block;
  position: relative;
  height: 100vh;
  overflow: auto;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.05);

}
.color-filter:before {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,166,87,.3);
    opacity: .1;
    pointer-events: none;
    content: ' ';
    z-index: 99999;
}

.wrapper-div {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 16px 0;
}
/deep/ ::-webkit-scrollbar {
  width: 6px;
}

/deep/ ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 5px;
}

/deep/ ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
