<div class="ng-admin-co-header">
  <div class="moduleName">{{ '~news' | translate }}</div>
  <div class="ng-admin-actions-template">
    <button (click)="table.onPrint()">{{ '~print' | translate }}</button>
    <button *rbacAllow="['1000012', 'ADD']" (click)="table.addData()">
      {{ '~addData' | translate }}
    </button>
    <button
      *rbacAllow="['1000012', 'DELETE']"
      (click)="table.deleteData()"
      [disabled]="!table?.isRowSelected"
    >
      {{ '~removeSelected' | translate }}
    </button>
    <mat-select
      placeholder="Toggle Columns"
      [multiple]="true"
      (selectionChange)="table?.toggleColumns($event)"
      [(ngModel)]="table.visibleColumnDefs"
      #select="ngModel"
      class="toggle-columns-select"
    >
      <mat-select-trigger> Toggle Columns </mat-select-trigger>
      <div style="margin: 5px 0;display: flex;justify-content: center">
        <button mat-button color="primary" (click)="table?.showAllColumns()">
          Show all
        </button>
        <button mat-button color="warn" (click)="table?.hideAllColumns()">
          Hide all
        </button>
      </div>
      <mat-option *ngFor="let col of table?.defaultColumnDefs" [value]="col">{{
        col.n
      }}</mat-option>
    </mat-select>

  </div>
</div>

<div class="ng-admin-content">
  <div class="ng-admin-table">
    <ngx-native-table
      #table
      [config]="config"
      [editTemplate]="editer"
      (actionClick)="onOptClick($event)"
    >
    </ngx-native-table>
  </div>


  <ng-template #editer let-row="row">
    <button  [matMenuTriggerFor]="menu"><table-edit-button> </table-edit-button> </button>
    <mat-menu #menu="matMenu" class="table-editer-menu">
      <button mat-menu-item *rbacAllow="['1000012', 'EDIT']" (click)="onOptClick({data: row, type: 'edit'})" >
          {{ '~edit' | translate }}
        </button>
        <button mat-menu-item  *rbacAllow="['1000012', 'DELETE']" (click)="onOptClick({data: row, type: 'delete'})" >
          {{ '~delete' | translate }}
        </button>
        <button mat-menu-item  *rbacAllow="['1000012', 'CONFIRM']" (click)="onOptClick({data: row, type: 'confirm'})" >
          {{ '~confirm' | translate }}
        </button>
        <button mat-menu-item  *rbacAllow="['1000012', 'UNCONFIRM']" (click)="onOptClick({data: row, type: 'unconfirm'})" >
          {{ '~unconfirm' | translate }}
        </button>
    </mat-menu>
    </ng-template>
