<div class="main-info-wrapper">
    <div class="main-info-background"></div>
    <div class="container " *ngIf="user$ | async as user">

        <div class="row">
          <div class="col-12 p-0">

            <div class="profile-main-info">

              <div class="item-left">
                <div class="item-image">
                  <img src="{{user.photoFileId | imgSrc }}"  onerror="this.src= './assets/img/default-avatar.png '">
                </div>
              </div>
              <div class="item-center">

                  <div class="item-center__group">
                      <div class="key">Username: </div>
                      <div class="value">{{user.userName}}</div>
                    </div>
                  <div class="item-center__group">
                      <div class="key">User Type: </div>
                      <div class="value">{{user.userType}}</div>
                    </div>
                  <div class="item-center__group">
                      <div class="key">Name: </div>
                      <div class="value">{{user.name}} {{user.surname}}</div>
                    </div>

                <div class="item-center__group">
                    <div class="key">Born: </div>
                    <div class="value">{{user.birthdate | date: 'd MMMM y'}}</div>
                </div>

                <div class="item-center__group">
                  <div class="key">Gender: </div>
                  <div class="value">{{user.gender.value['en']}}</div>
                </div>

              </div>
              <div class="item-right">
                <div class="edit-btn">
                    <button mat-raised-button (click)="onEdit()">EDIT PROFILE</button>
                </div>
<!--
                <div class="icon">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="value">Baku Azerbaijan</div> -->
              </div>
              <div class="main-logo">
                 <img src='./assets/icons/opendata_final.svg'>
              </div>
            </div>
          </div>
        </div>
        </div>
</div>


     <div class="container">
       <div class="row">
         <div class="col-4">
          <div class="profile-modules-wrapper">
            <div class="profile-save-module" (click)="currentMod = 'show'">
              <div class="mod-icon"><img src="./assets/icons/folder (1).svg"></div>
              <div class="mod-text">Saved Data</div>
            </div>
          </div>
         </div>
         <div class="col-8">
           <div class="list" *ngFor="let dataset of datasets ">
              <dataset-box [dataset]="dataset"
              routerLink="/home/datasets/by-organization/{{dataset.orgId}}/{{dataset.datasetId}}"
              ></dataset-box>
           </div>
         </div>
       </div>
     </div>
