$ag-icons-path: '~ag-grid-community/src/styles/icons/';
$ag-mat-icons-path: '~ag-grid-community/src/styles/material-icons/';

$grid-size: 8px; // 8 by default
$icon-size: 18px; // 18 by default

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-material.scss';
.ag-body-viewport.ag-layout-normal {
  overflow-y: hidden;
}

.ag-body-viewport.ag-layout-normal {
  overflow-y: hidden;
}
.actionsHeaderCell .ag-cell-label-container {
 display: flex;
 justify-content: center;
}

.ag-theme-material .ag-cell,
.ag-header-cell {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
