$hamburger-padding-x: 10px;
$hamburger-padding-y: 5px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #ffffff;
$hamburger-layer-height: 2px;
$hamburger-active-layer-color: #ffffff;
$hamburger-layer-width: 26px;
$hamburger-layer-border-radius: 0;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
