:host {
  display: block;
  position: absolute;

}
.co-backdrop {
     width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
   background: rgba(0,0,0,.32);

  .co-wrapper {
    display: flex;
    flex-direction: column;

    width: 256px;
    padding: 20px;
    position: absolute;
    right: 102px;
    top: 0;
    z-index: 3;
    background: #ffffff;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
    height: calc(100vh - 32px);
    margin: 16px 0;
    border-radius: 5px;
    .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #616161;
      border-radius: 3px;
      padding: 20px 35px;
     .user-img {
       padding-bottom: 16px;
      .icon {
        width: 54px;
        height: 54px;
      }
     }
     .user-name {
      font-weight: 500;
      line-height: 13px;
      font-size: 13px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 3px;
     }
     .today-date {
      font-weight: 300;
      line-height: 13px;
      font-size: 9px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 7px;
     }
     .user-role {
      font-weight: 300;
      line-height: 8px;
      font-size: 9px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 5px;
     }
     .user-org {
       color: #ffffff;
       font-size: 10px;
       text-align: center;
     }
    }
    .user-actions {
      display: flex;
      flex-direction: column;
      padding-top: 35px;
      .user-action {
        display: flex;
        align-items: center;
        padding: 16px 8px;
        border-radius: 5px;
        margin-bottom: 24px;
        cursor: pointer;
        transition: background 300ms ease-in-out;
        .icon {
          width: 18px;
          margin-right: 35px;
        }
        .name {
          font-size: 14px;
          color: #616161;
          border-radius: 5px;
        }
        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }
}

